{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<style>
 .price{
	font-weight:bold;
 }
</style>
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Donations</strong></h1>
			<p>Donate to the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
		<div class="card  border-primary mb-3">
			<div class="card-header">Very Important</div>
			<div class="card-body">
				<h4 class="card-title">Donate to Ukraine</h4>
				<p class="card-text">Before you even consider this project, please go to <a href="https://u24.gov.ua/" target="_slava_ukraina">https://u24.gov.ua/</a> now and ensure Ukraine can win the fight for our democracy and freedom.</p>
				<p class="card-text">If Putin gets his way we will all suffer for it for generations to come.</p>
				<img src="http://localhost/static/images/OctoMY_stands%20with:Ukraine_SLAVA_UKRAINA.svg" alt="{{context.app_name}} stands with Ukraina. SLAVA UKRAINA!" class="img-fluid" style="height:6em;">
				<p class="card-text">
				
				</p>
			</div>
		</div>

		<div class="row px-5">
			<div class="col-md-6">

				<div class="card  bg-light mb-3">
					<h4 class="card-header">Donate via Patreon</h4>
					<div class="card-body">
						<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsePatreon" aria-expanded="false" aria-controls="collapsePatreon">Use Patreon</button>
						<div class="collapse" id="collapsePatreon">
							<p>You can donate to this project through Patreon.</p>
							<p><a href="http://patreon.com/octomy" target="_octomy_patreon"><img src="/static/images/Become_a_patreon.svg" class="img-fluid" style="max-height:100px;"><br>{{context.app_name}} Patreon page</a></p>
						</div>
					</div>
				</div>
				
				<div class="card  bg-light mb-3">
					<h4 class="card-header">Donate via PayPal</h4>
					<div class="card-body">
						<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsePayPal" aria-expanded="false" aria-controls="collapsePayPal">Use PayPal</button>
						<div class="collapse" id="collapsePayPal">
						<br>

						<img src="/static/images/PayPal_logo.svg" class="img-fluid" style="max-height:100px;">
							<p>You can easily make a one-time contribution using PayPal. Simply type in the amount you want to donate and press <strong>Donate!</strong></p>
							<form action="https://www.paypal.com/cgi-bin/webscr" class="donate-form" method="post"> 
								<input name="cmd" type="hidden" value="_xclick">
								<input name="business" type="hidden" value="lennartrolland@gmail.com">
								<input name="item_name" type="hidden" value="Support {{context.app_name}}">
								<input name="item_number" type="hidden" value="1337">
								<input name="image_url" type="hidden" value="https://octomy.org//static/images/octomy_logo.png">
								<input name="no_shipping" type="hidden" value="1">
								<input name="currency_code" type="hidden" value="USD">
								<input name="return" type="hidden" value="https://octomy.org/contribute/donate/thanks.html">
								<input name="cancel_return" type="hidden" value="https://octomy.org/contribute/donate/error.html">
								<div class="form-group">
									<label for="amount">Amount</label>
									<div class="input-group">
										<input class="form-control" id="amount" name="amount" placeholder="Amount in USD" type="currency" aria-describedby="amountHelp">
										<div class="input-group-append">
											<button class="btn btn-primary" type="submit">Donate!</button>
										</div>
									</div>
									<small id="amountHelp" class="form-text text-muted">See suggested amounts in the table below</small>
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="card  border-secondary mb-3">
					<h4 class="card-header">Suggested Amounts</h4>
					<div class="table-group table-group-flush">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Amount</th>
								<th scope="col">Buys</th>
							</tr>
						</tead>
						<tbody>
							<tr>
								<td class="text-right price">$ 2</td>
								<td>Energy drink (for those long nights hacking).</td>
							</tr>
							<tr>
								<td class="text-right price">$ 7</td>
								<td>A day of hosting for our online systems.</td>
							</tr>
							<tr>
								<td class="text-right price">$ 42</td>
								<td>Meaningful robot part like an actuator or sensor.</td>
							</tr>
							<tr>
								<td class="text-right price">$ 69</td>
								<td>Nice tool like screw driver set.</td>
							</tr>
							<tr>
								<td class="text-right price">$ 1337</td>
								<td>Leet tool like drill-press or band-saw.</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>



			</div>
			<div class="col-md-6">

				<h3>Donate Gear</h3>
				<p>If you have a robot, parts or tools to spare, you can donate it or lend it to {{context.app_name}}.</p>
				<p>We are primarily interested in robots that are not well supported yet. Please see our <a href="/documentation/supported-hardware">supported hardware</a> page for info on what robots are already supported. Parts and tools are always welcome,</p>
				<p>Please <a href="/about/contact">get in touch</a> and we will figure it out!</p>
				<img src="/static/images/Please_adopt_us_octomy.png" alt="Please adopt us {{context.app_name}}">

			</div>
			
		</div>
	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

