

$octomy-text: #e0d5df;
$octomy-bg: #282428;
$octomy-page: #443e43;
$octomy-link: #46d750;


// scss-docs-start gray-color-variables
$white:    $octomy-bg !default;
$gray-100: #edebed !default;
$gray-200: #d1cfd1 !default;
$gray-300: #b8b5b7 !default;
$gray-400: #9c999c !default;
$gray-500: #837f82 !default;
$gray-600: #656065 !default;
$gray-700: #4a4449 !default;
$gray-800: #2e2a2e !default;
$gray-900: #111011 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables


// scss-docs-start color-variables
$blue:    #00387b !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #cc2c24 !default;
$orange:  #d18000 !default;
$yellow:  #ffe948 !default;
$green:   #46d750 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

$primary: $green;
$success: $teal;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

$headings-font-weight: 700;

$border-radius: 2em;

// These are the defaults, but you can override any values
$font-family-sans-serif: "Dosis", sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;


$code-100: $primary;
$code-200: darken($code-100, 10%);
$code-300: darken($code-100, 20%);
$code-400: darken($code-100, 30%);
$code-500: darken($code-100, 40%);
$code-600: darken($code-100, 50%);
$code-700: darken($code-100, 60%);
$code-800: darken($code-100, 70%);
$code-900: darken($code-100, 80%);

$data-100: $octomy-text;
$data-200: darken($data-100, 10%);
$data-300: darken($data-100, 20%);
$data-400: darken($data-100, 30%);
$data-500: darken($data-100, 40%);
$data-600: darken($data-100, 50%);
$data-700: darken($data-100, 60%);
$data-800: darken($data-100, 70%);
$data-900: darken($data-100, 80%);

pre code.hljs{
	display:block;
	overflow-x:auto;
	padding:1em;
}
.ode.hljs{
	padding:3px 5px;
}
.hljs{
	color: $octomy-text;
	background: rgba(0,0,0,0.10);
	border-radius: $border-radius;
}
.hljs-subst{
	color: $data-100;
}
.hljs-comment{
	color: $data-400;
}
.hljs-attr,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-section,.hljs-selector-tag{
	color: $code-100;
}
.hljs-attribute{
	color: $code-200;
}
.hljs-name,.hljs-number,.hljs-quote,.hljs-selector-id,.hljs-template-tag,.hljs-type{
	color: $code-500;
}
.hljs-selector-class{
	color: $code-600
}
.hljs-link,.hljs-regexp,.hljs-selector-attr,.hljs-string,.hljs-symbol,.hljs-template-variable,.hljs-variable{
	color: $code-700
}
.hljs-meta,.hljs-selector-pseudo{
	color: $code-800
}
.n.hljs-built_in,.hljs-literal,.hljs-title{
	color: $data-400
}
.n.hljs-bullet,.hljs-code{
	color: $code-400
}
.n.hljs-meta .hljs-string{
	color: $data-100;
}
.n.hljs-deletion{
	color: $red;
}
.n.hljs-addition{
	color: $blue;
}
.n.hljs-emphasis{
	font-style:italic;
}
.n.hljs-strong{
	font-weight: bold;
}


// Options

// See https://getbootstrap.com/docs/4.6/content/typography/#responsive-font-sizes
$enable-responsive-font-sizes: true;

// Body

$body-bg:                   $octomy-bg;
$body-color:                $octomy-text;


$light: lighten($octomy-bg, 10%);
$dark: darken($octomy-bg, 10%);

// Components

$border-color:                $gray-900;

$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
$box-shadow:                  0 .5rem 1rem rgba($black, .15);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);

$component-active-color:      $black;

// Typography

$text-muted:                  $gray-600;
$blockquote-small-color:      $gray-400;
$hr-border-color:             $gray-900;
$kbd-box-shadow:              inset 0 -.1rem 0 rgba($black, .25);

// Tables

$table-color:                 $gray-300;
$table-accent-bg:             rgba($white, .05);
$table-hover-bg:              rgba($white, .075);
$table-head-bg:               $gray-100;
$table-head-color:            $gray-800;
$table-dark-color:            $gray-200;
$table-dark-bg:               $gray-800;
$table-dark-accent-bg:        rgba($white, .05);
$table-dark-hover-bg:         rgba($white, .075);

// Buttons

$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125);
$btn-link-disabled-color:     $gray-400;


// Forms

$input-bg:                              $gray-900;
$input-disabled-bg:                     $gray-800;
$input-color:                           $gray-300;
$input-border-color:                    $gray-900;
$input-box-shadow:                      inset 0 1px 1px rgba($black, .075);
$input-placeholder-color:               $gray-400;
$input-group-addon-bg:                  $gray-800;
$custom-control-indicator-border-color: $gray-500;
$custom-control-label-disabled-color:   $gray-400;
$custom-select-disabled-color:      $gray-400;
$custom-select-disabled-bg:         $gray-800;
$custom-select-indicator-color:     $gray-200;
$custom-select-box-shadow:          inset 0 1px 2px rgba($black, .075);
$custom-range-track-bg:             $gray-800;
$custom-range-track-box-shadow:     inset 0 .25rem .25rem rgba($black, .1);
$custom-range-thumb-box-shadow:              0 .1rem .25rem rgba($black, .1);
$custom-range-thumb-disabled-bg:             $gray-500;

// Navs

$nav-link-disabled-color:           $gray-400;
$nav-tabs-border-color:             $gray-800;
$nav-tabs-link-hover-border-color:  $gray-800 $gray-800 $nav-tabs-border-color;
$nav-tabs-link-active-color:        $gray-300;
$nav-tabs-link-active-bg:           $black;
$nav-tabs-link-active-border-color: $gray-800 $gray-800 $nav-tabs-link-active-bg;
$nav-divider-color:                 $gray-800;

// Navbar

$navbar-dark-color:                 rgba($white, .5);
$navbar-dark-hover-color:           rgba($white, .75);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-dark-toggler-border-color:  rgba($white, .1);

$navbar-light-color:                rgba($black, .5);
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         rgba($black, .9);
$navbar-light-disabled-color:       rgba($black, .3);
$navbar-light-toggler-border-color: rgba($black, .1);

// Dropdowns

$dropdown-bg:                       $gray-900;
$dropdown-border-color:             rgba($white, .15);
$dropdown-divider-bg:               $gray-800;
$dropdown-box-shadow:               0 .5rem 1rem rgba($black, .175);
$dropdown-link-color:               $gray-100;
$dropdown-link-hover-color:         darken($gray-100, 5%);
$dropdown-link-hover-bg:            $gray-800;
$dropdown-link-disabled-color:      $gray-500;
$dropdown-header-color:             $gray-400;

// Pagination

$pagination-bg:                     $gray-900;
$pagination-border-color:           $gray-800;
$pagination-hover-bg:               $gray-100;
$pagination-hover-border-color:     $gray-700;
$pagination-disabled-color:         $gray-700;
$pagination-disabled-bg:            $gray-900;
$pagination-disabled-border-color:  $gray-800;

// Jumbotron

$jumbotron-bg:                      $gray-900;

// Cards

$card-border-color:                 rgba($white, .125);
$card-cap-bg:                       rgba($gray-800, .2);
$card-bg:                           $gray-800;

// Tooltips

$tooltip-color:                     $white;
$tooltip-bg:                        $gray-900;

// Popovers

$popover-bg:                        $gray-900;
$popover-border-color:              rgba($white, .2);
$popover-box-shadow:                0 .25rem .5rem rgba($black, .2);
$popover-header-bg:                 darken($popover-bg, 3%);


// Toasts

$toast-background-color:            rgba($black, .85);
$toast-border-color:                rgba($white, .1);
$toast-box-shadow:                  0 .25rem .75rem rgba($black, .1);
$toast-header-color:                $gray-400;
$toast-header-background-color:     rgba($black, .85);
$toast-header-border-color:         rgba($white, .1);

// Modals

$modal-content-bg:                  $black;
$modal-content-border-color:        rgba($white, .2);
$modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5);
$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5);
$modal-backdrop-bg:                 $black;

// Alerts

$alert-bg-level:                    -5;
$alert-border-level:                -7;
$alert-color-level:                 7;

// Progress bars

$progress-bg:                       $gray-800;
$progress-box-shadow:               inset 0 .1rem .1rem rgba($black, .1);
$progress-bar-color:                $black;

// List group

$list-group-bg:                     $gray-900;
$list-group-border-color:           rgba($white, .125);
$list-group-hover-bg:               $gray-900;
$list-group-disabled-color:         $gray-400;
$list-group-action-color:           $gray-300;
$list-group-action-active-bg:       $gray-800;

// Image thumbnails

$thumbnail-border-color:            $gray-800;
$thumbnail-box-shadow:              0 1px 2px rgba($black, .075);

// Figures

$figure-caption-color:              $gray-400;

// Breadcrumbs

$breadcrumb-bg:                     $gray-800;
$breadcrumb-divider-color:          $gray-400;
$breadcrumb-active-color:           $gray-400;

// Carousel

$carousel-control-color:             $black;
$carousel-indicator-active-bg:       $black;
$carousel-caption-color:             $black;

// Close

$close-color:                       $white;
$close-text-shadow:                 0 1px 0 $black;

// Code

$kbd-color:                         $black;
$kbd-bg:                            $gray-100;
$pre-color:                         $gray-100;



//////////////////////////////////////////////////////////////////////////////


@import "node_modules/bootstrap/scss/bootstrap"

