{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Shop</strong></h1>
			<p>Buy the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
	<h3>Come back soon</h3>
	<p>At some point in the not too distant future we will set up a storefront here that will sell recommended tools and parts. Until then, stay tuned!</p>
	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

