{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<style>
	.price{
	font-weight:bold;
	}
</style>
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Privacy Statement</strong></h1>
			<p>Concur with the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
		<div class="card  bg-light mb-3">
			<h4 class="card-header">Contents</h4>
			<div class="card-body">
				<div id="toc" class="toc" role="navigation" aria-labelledby="mw-toc-heading">
					<ul>
						<li class="toclevel-1 tocsection-1"><a href="#Introduction"><span class="tocnumber">1</span> <span class="toctext">Introduction</span></a></li>
						<li class="toclevel-1 tocsection-2">
							<a href="#What_we_do_with_your_personal_information"><span class="tocnumber">2</span> <span class="toctext">What we do with your personal information</span></a>
							<ul>
								<li class="toclevel-2 tocsection-3"><a href="#Collecting_personal_information"><span class="tocnumber">2.1</span> <span class="toctext">Collecting personal information</span></a></li>
								<li class="toclevel-2 tocsection-4"><a href="#Publicly_available_personal_information"><span class="tocnumber">2.2</span> <span class="toctext">Publicly available personal information</span></a></li>
								<li class="toclevel-2 tocsection-5"><a href="#Using_your_personal_information"><span class="tocnumber">2.3</span> <span class="toctext">Using your personal information</span></a></li>
								<li class="toclevel-2 tocsection-6"><a href="#Sharing_your_personal_information"><span class="tocnumber">2.4</span> <span class="toctext">Sharing your personal information</span></a></li>
							</ul>
						</li>
						<li class="toclevel-1 tocsection-7">
							<a href="#Your_choices"><span class="tocnumber">3</span> <span class="toctext">Your choices</span></a>
							<ul>
								<li class="toclevel-2 tocsection-8"><a href="#Receiving_e-mail"><span class="tocnumber">3.1</span> <span class="toctext">Receiving e-mail</span></a></li>
								<li class="toclevel-2 tocsection-9"><a href="#Cookies_and_other_browser_information"><span class="tocnumber">3.2</span> <span class="toctext">Cookies and other browser information</span></a></li>
							</ul>
						</li>
						<li class="toclevel-1 tocsection-10"><a href="#Our_commitment_to_data_security"><span class="tocnumber">4</span> <span class="toctext">Our commitment to data security</span></a></li>
						<li class="toclevel-1 tocsection-11"><a href="#Public_forums_reminder"><span class="tocnumber">5</span> <span class="toctext">Public forums reminder</span></a></li>
						<li class="toclevel-1 tocsection-12"><a href="#Our_commitment_to_children.27s_online_privacy"><span class="tocnumber">6</span> <span class="toctext">Our commitment to children's online privacy</span></a></li>
						<li class="toclevel-1 tocsection-13"><a href="#About_links_to_other_sites"><span class="tocnumber">7</span> <span class="toctext">About links to other sites</span></a></li>
						<li class="toclevel-1 tocsection-14">
							<a href="#How-to"><span class="tocnumber">8</span> <span class="toctext">How-to</span></a>
							<ul>
								<li class="toclevel-2 tocsection-15"><a href="#Access.2C_modify.2C_or_update_your_information"><span class="tocnumber">8.1</span> <span class="toctext">Access, modify, or update your information</span></a></li>
								<li class="toclevel-2 tocsection-16"><a href="#Contact_us"><span class="tocnumber">8.2</span> <span class="toctext">Contact us</span></a></li>
							</ul>
						</li>
						<li class="toclevel-1 tocsection-17">
							<a href="#Closing_statements"><span class="tocnumber">9</span> <span class="toctext">Closing statements</span></a>
							<ul>
								<li class="toclevel-2 tocsection-18"><a href="#Changes_to_this_Privacy_Statement"><span class="tocnumber">9.1</span> <span class="toctext">Changes to this Privacy Statement</span></a></li>
								<li class="toclevel-2 tocsection-19"><a href="#Credits"><span class="tocnumber">9.2</span> <span class="toctext">Credits</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<h3 id="Introduction">Introduction</h3>
		<p>Your privacy is important to us. To better protect your privacy, we have provided this Statement explaining our information practices and the choices you can make about the way your personal information is collected, used and disclosed. To make this Statement easy to find, we have made it available on our homepage and at every location where personally-identifiable information may be requested.
		</p>
		<p>This Privacy Statement is intended to describe the privacy practices of the {{context.app_name}} Project ("{{context.app_name}}"), a non-profit legal entity registered in New Mexico, USA, and provide information about the choices you have regarding the ways in which information collected by the {{context.app_name}} project is used and disclosed.
		</p>
		<p>This Privacy Statement does not cover any external services that are simply used by {{context.app_name}}. These include, but are not limited to the Freenode IRC Network and GitHub.
		</p>
		<h3 id="What_we_do_with_your_personal_information">What we do with your personal information</h3>
		<p>This Privacy Statement applies to all information collected by or submitted to {{context.app_name}}, including personal information. "Personal information" is data that reasonably can be used to identify or describe an individual.
		</p>
		<h4 id="Collecting_personal_information">Collecting personal information</h4>
		<p>{{context.app_name}} collects personal information when:
		</p>
		<ul>
			<li>You create a user account on one of our websites;</li>
			<li>You submit code to a repository hosted by us;</li>
			<li>You participate in surveys and evaluations;</li>
			<li>You submit questions or comments to us.</li>
		</ul>
		<p>{{context.app_name}} may also collect personal information from individuals (with their consent) at conventions, trade shows and expositions.
		</p>
		<p>The types of personal information collected may include (but are not limited to):
		</p>
		<ul>
			<li>Your first and last name;</li>
			<li>Your location: country code and city;</li>
			<li>Your e-mail address;</li>
			<li>Any other identifier that permits {{context.app_name}} to make physical or online contact with you;</li>
			<li>Passwords you use to log in to our services;</li>
			<li>Your GPG key ID(s),</li>
			<li>Your SSH public key(s),</li>
			<li>Your IRC nickname(s),</li>
			<li>Your language preferences,</li>
			<li>Your timezone,</li>
			<li>Your geographic coordinates (longitude/latitude);</li>
			<li>Your date of birth (as legally required for Foundation business).</li>
			<li>IP addresses as well as information about software configurations used by you to access our services.</li>
		</ul>
		<h4 id="Publicly_available_personal_information">Publicly available personal information</h4>
		<p>In keeping with the open nature and spirit of {{context.app_name}}, some personal information attached to {{context.app_name}} accounts is made public by default. Specifically:
		</p>
		<ul>
			<li>Your first and last name;</li>
			<li>Your country code;</li>
			<li>Your email address;</li>
			<li>Your language preference;</li>
			<li>Your SSH public key (if defined);</li>
			<li>Your timezone (if defined);</li>
			<li>Your GPG key ID (if defined);</li>
			<li>Your IRC nickname (if defined);</li>
			<li>Your geographic coordinates (if defined).</li>
		</ul>
		<p>Check the preferences function of the respective services for options to hide one or more of these information items.
			Note that due to technical reasons or because of the nature of the service, some data can not be hidden (for instance your email address on Bugzilla).
		</p>
		<h4 id="Using_your_personal_information">Using your personal information</h4>
		<p>{{context.app_name}} uses the personal information you provide to:
		</p>
		<ul>
			<li>Create and maintain your accounts;</li>
			<li>Answer your questions;</li>
			<li>Send you information;</li>
			<li>For research activities, including the production of statistical reports (such aggregated information is not used to contact the subjects of the report);</li>
			<li>Send you surveys.</li>
		</ul>
		<p>We also use this personal information to provide you with information related to your account and the products or services you acquire from us, to better understand your needs and interests, to improve our service, and to personalize communications.
		</p>
		<h4 id="Sharing_your_personal_information">Sharing your personal information</h4>
		<p>Unless you assent, {{context.app_name}} will never share the personal information you provide to us except as described below.
		</p>
		<p>{{context.app_name}} may disclose your personal information to third parties under any of the following circumstances:
		</p>
		<ul>
			<li>Publicly Available Personal Information is openly available unless the {{context.app_name}} account holder opts-out (as already described in this Privacy Statement).</li>
			<li>As may be required to provide service, and for e-mail housing (as a consequence of uses already described in this Privacy Statement).</li>
			<li>As required by law (such as responding to a valid subpoena, warrant, audit, or agency action, or to prevent fraud).</li>
			<li>For research activities, including the production of statistical reports (such aggregated information is used to describe our services and is not used to contact the subjects of the report).</li>
		</ul>
		<h3 id="Your_choices">Your choices</h3>
		<h4 id="Receiving_e-mail">Receiving e-mail</h4>
		<p>{{context.app_name}} may send you e-mail about your account, to inform you of important upcoming {{context.app_name}} events (e.g. elections), or in response to your questions. 
			For your protection, {{context.app_name}} may contact you in the event that we find an issue that requires your immediate attention.
		</p>
		<p>You can opt out of any automated messages from our bug tracker, forums or wiki, by adjusting your email preferences on the respective sites.
		</p>
		<h4 id="Cookies_and_other_browser_information">Cookies and other browser information</h4>
		<p>{{context.app_name}}'s online services automatically capture IP addresses. We use IP addresses to help diagnose problems with our servers, to administer our website, and to help ensure the security of your interaction with our services. Your IP address is used to help identify you and your location.
		</p>
		<p>As part of offering and providing customizable and personalized services, {{context.app_name}} uses cookies to store and sometimes track information about you. A cookie is a small amount of data that is sent to your browser from a Web server and stored on your computer's hard drive. All sections of octomy.org where you are prompted to log in or that are customizable require your browser to accept cookies.
		</p>
		<p>Generally, we use cookies to:
		</p>
		<ol>
			<li>Remind us of who you are and to access your account information (stored on our computers) in order to provide a better and more personalized service. This cookie is set when you register or "sign in" and is modified when you "sign out" of our services.</li>
			<li>Estimate audience size. Each browser accessing a {{context.app_name}} site may be given a unique cookie that is used to determine the extent of repeat usage and usage by a registered user versus by an unregistered user.</li>
			<li>Measure certain traffic patterns, which areas of {{context.app_name}}'s network of websites you have visited, and your visiting patterns in the aggregate. We use this research to understand how our user's habits are similar or different from one another so that we can make each new experience on octomy.org a better one. We may use this information to better personalize the content, banners, and promotions you and other users will see on our sites.</li>
		</ol>
		<p>If you do not want your personal information to be stored by cookies, you can configure your browser so that it always rejects these cookies or asks you each time if you accept them or not. However, you must understand that the use of cookies may be necessary to provide certain services, and choosing to reject cookies will reduce the performance and functionality of the site. Your browser documentation includes precise instructions explaining how to define the acceptance of cookies.
		</p>
		<h3 id="Our_commitment_to_data_security">Our commitment to data security</h3>
		<p>{{context.app_name}} trains its administrators on our privacy policy guidelines. Our services uses Secure Socket Layer (SSL) technology where applicable, which encrypts your personal information when you send your personal information on our website.
			Additionally, we store your credentials as safely as possible, i.e. hashed using up-to-date algorithms, to avoid them being exposed in case of a database leak.
		</p>
		<h3 id="Public_forums_reminder">Public forums reminder</h3>
		<p>{{context.app_name}} makes chat rooms, forums, mailing lists, message boards, bug trackers, and/or news groups available to its users. Please remember that any information that is disclosed in these areas becomes public information. Exercise caution when deciding to disclose your personal information. Although we value individual ideas and encourage free expression, {{context.app_name}} reserves the right to take necessary action to preserve the integrity of these areas, such as removing any posting that is vulgar or inappropriate.
		</p>
		<h3><span id="Our_commitment_to_children's_online_privacy"></span><span class="mw-headline" id="Our_commitment_to_children.27s_online_privacy">Our commitment to children's online privacy</h3>
		<p>Out of special concern for children's privacy, {{context.app_name}} does not knowingly accept online personal information from children under the age of 13. {{context.app_name}} does not knowingly allow children under the age of 13 to become registered members of our sites. {{context.app_name}} does not knowingly collect or solicit personal information about children under 13.
		</p>
		<p>In the event that {{context.app_name}} ever decides to expand its intended site audience to include children under the age of 13, those specific web pages will, in accordance with the requirements of the Children's Online Privacy Protection Act (COPPA), be clearly identified and provide an explicit privacy notice addressed to children under 13. In addition, {{context.app_name}} will provide an appropriate mechanism to obtain parental approval, allow parents to subsequently make changes to or request removal of their children's personal information, and provide access to any other information as required by law.
		</p>
		<h3 id="About_links_to_other_sites">About links to other sites</h3>
		<p>This site contains links to other sites. {{context.app_name}} does not control the information collection of sites that can be reached through links from octomy.org. If you have questions about the data collection procedures of linked sites, please contact those sites directly.
		</p>
		<h3 id="How-to">How-to</h3>
		<h4><span id="Access,_modify,_or_update_your_information"></span><span class="mw-headline" id="Access.2C_modify.2C_or_update_your_information">Access, modify, or update your information</h4>
		<p>{{context.app_name}} gives you the ability to access, modify or update your information at any time. You may log in to every service and make changes to your login information (change your password), your contact information, your general preferences and your personalization settings. If necessary, you may also contact us and describe the changes you want made to the information you have previously provided.
		</p>
		<p>If you wish to remove your personal information from {{context.app_name}}, you may contact us and request that we remove this information from the {{context.app_name}} services to the relevant possible extent. Other locations where you may have used your personal information as an identifier (e.g. Bugzilla comments, list postings in the archives, Wiki change history, and in code commits) will not be altered.
		</p>
		<p>You must provide us with some details to aid in locating the records you wish removed or altered. This include the identifying information (usually email), service(s), and date(s) that the records might pertain to.
		</p>
		<p>Please note that removal services such as Saymine do not reliably provide enough information to locate the records in question: this is frequently because they use very old email from your accounts, and all relevant records had already been deleted from {{context.app_name}} systems: but we cannot confirm that without details.
		</p>
		<h4 id="Contact_us">Contact us</h4>
		<p>If you have any questions about any of these practices or {{context.app_name}}'s use of your personal information, please feel free to contact us <a rel="nofollow" class="external text" href="mailto:privacy@octomy.org">by email</a>, or filing a bug.
		</p>
		<p>{{context.app_name}} will work with you to resolve any concerns you may have about this Statement.
		</p>
		<h3 id="Closing_statements">Closing statements</h3>
		<h4 id="Changes_to_this_Privacy_Statement">Changes to this Privacy Statement</h4>
		<p>{{context.app_name}} reserves the right to change this policy from time to time. If we do make changes, the revised Privacy Statement will be posted on this site. A notice will be posted on our homepage for 30 days whenever this privacy statement is changed in a material way.
		</p>
		<p>This Privacy Statement was last amended on 2015/06/21.
		</p>
		<h4 id="Credits">Credits</h4>
		<p>This document is based on the <a rel="nofollow" class="external text" href="https://wiki.gentoo.org/wiki/Foundation:Privacy_Policy">Gentoo Project's Privacy Policy</a> available under the terms of the Creative Commons Attribution-Share Alike 3.0 Unported license.
		</p>
	</div>
	{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}
