{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Documentation - Architecture</strong></h1>
			<p>Architexture of the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
	
		<div class="row px-5">
			<div class="col-md-6">
				{% include 'includes/page_subpages.html' %}

			</div>
		</div>
	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

