{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<style>
	.swatch{
		background-color: black;
		padding: 0;
		margin: 0;
		resize: horizontal;
		vertical-align: middle !important;
	}
	.swatch div{
		background-color: #eb4e4e;
		border-radius:50%;
		padding: 0;
		margin: 1em;
		min-width: 4em;
		min-height: 4em;
	}
</style>
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Brand</strong></h1>
			<p>Recognize the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
	
		<div class="row px-5">
			<div class="col-md-6">
				<h3>Brand</h3>
				<p>On this page you will find the original logos for print &amp; web for the {{context.app_name}} project.</p>
				
				<h3>Profile Material</h3>
				<p>Currently all profile material is maintained as part of the source-code repository on gitlab, and it will always be the first hand source. You can browse it for the following topics:</p>
				<ul>
					<li><a href="https://gitlab.com/octomy/octomy/tree/master/src/libs/libres/resources/icons" target="_octomy_brand_icons">Icons</a></li>
					<li><a href="https://gitlab.com/octomy/octomy/tree/master/content/design" target="_octomy_brand_design">Design &amp; Logos</a></li>
					<li><a href="https://gitlab.com/octomy/octomy/tree/master/src/libs/libres/resources/images" target="_octomy_brand_images">Images</a></li>
					<li><a href="https://gitlab.com/octomy/octomy/tree/master/src/libs/libapp/resources/app/style/fonts" target="_octomy_brand_fonts">Fonts</a></li>
				</ul>
				<h3>Color for Nodes</h3>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Swatches</th>
							<th scope="col">Codes</th>
							<th scope="col">Description</th>
						</tr>
					</tead>
					<tbody>
						<tr>
							<td rowspan="2">Agent</td>
							<td class="swatch"><div></div></td>
							<td>#eb4e4e<br>RAL1234</td>
							<td rowspan="2">The color used to identify the {{context.app_name}} Agent nodes.</td>
						</tr>
						<tr>
							<td class="swatch"><div style="background-color: #dd1919;"></div></td>
							<td>#dd1919<br>RAL1234</td>
						</tr>

						<tr>
							<td rowspan="2"> Remote</td>
							<td class="swatch"><div style="background-color: #2f8bf6;"></div></td>
							<td>#2f8bf6<br>RAL1234</td>
							<td rowspan="2">The color used to identify the {{context.app_name}} Remote nodes.</td>
						</tr>
						<tr>
							<td class="swatch"><div style="background-color: #0754ab;"></div></td>
							<td>#0754ab<br>RAL1234</td>
						</tr>

						
						<tr>
							<td rowspan="2">Hub</td>
							<td class="swatch"><div style="background-color: #44dd45;"></div></td>
							<td>#44dd45<br>RAL1234</td>
							<td rowspan="2">The color used to identify the {{context.app_name}} Hub nodes.</td>
						</tr>
						<tr>
							<td class="swatch"><div style="background-color: #20ae22;"></div></td>
							<td>#20ae22<br>RAL1234</td>
						</tr>

						
						<tr>
							<td rowspan="2">Zoo</td>
							<td class="swatch"><div style="background-color: #ffb848;"></div></td>
							<td>#ffb848<br>RAL1234</td>
							<td rowspan="2">The color used to identify the {{context.app_name}} Zoo.</td>
						</tr>
						<tr>
							<td class="swatch"><div style="background-color: #d18000;"></div></td>
							<td>#d18000<br>RAL1234</td>
						</tr>

					</tbody>
				</table>

			</div>
			<div class="col-md-6">

				
				
				<h3>Color for Web&amp;UI</h3>

					
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Swatches</th>
							<th scope="col">Codes</th>
							<th scope="col">Description</th>
						</tr>
					</tead>
					<tbody>
						<tr>
							<td rowspan="1">Background</td>
							<td class="swatch"><div style="background-color: #282428;"></div></td>
							<td>#282428<br>RAL1234</td>
							<td rowspan="1">The background color used in UIs and websites..</td>
						</tr>
						<tr>
							<td rowspan="1">Foreground</td>
							<td class="swatch"><div style="background-color: #443e43;"></div></td>
							<td>#443e43<br>RAL1234</td>
							<td rowspan="1">The foreground color used in UIs and websites.</td>
						</tr>
						<tr>
							<td rowspan="1">Text</td>
							<td class="swatch"><div style="background-color: #e0d5df;"></div></td>
							<td>#e0d5df<br>RAL1234</td>
							<td rowspan="1">The text color used in UIs and websites.</td>
						</tr>
						<tr>
							<td rowspan="1">Foreground</td>
							<td class="swatch"><div style="background-color: #46d750;"></div></td>
							<td>#46d750<br>RAL1234</td>
							<td rowspan="1">The highlight&amp;link color used in UIs and websites.</td>
						</tr>

					</tbody>
				</table>
				
				<h3>Fonts</h3>
				<p>The official font for {{context.app_name}} is Dosis from Google fonts.</p>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Link</th>
							<th scope="col">Use</th>
						</tr>
					</tead>
					<tbody>
						<tr>
							<td><a href="https://fonts.google.com/specimen/Dosis" target="_octomy_font_google_dosis">Official font page</a></td>
							<td>Official webfont.</td>
						</tr>
						<tr>
							<td><a href="https://gitlab.com/octomy/octomy/-/tree/master/src/libs/libapp/resources/app/style/fonts/Dosis" target="_octomy_font_gitlab_dosis">Font in gitlab</a></td>
							<td>For use in software.</td>
						</tr>
						
					</tbody>
				</table>

				<h3>Logos</h3>
				<p>The official font for {{context.app_name}} is Dosis from Google fonts.</p>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Preview</th>
							<th scope="col">Link</th>
							<th scope="col">Format</th>
							<th scope="col">Use</th>
						</tr>
					</tead>
					<tbody>
						<tr>
							<td><img src="https://gitlab.com/octomy/octomy/-/raw/master/content/design/octomy_logo.svg" class="figure-img img-fluid"></td>
							<td><a href="https://gitlab.com/octomy/octomy/-/raw/master/content/design/octomy_logo.svg" target="_octomy_logo_svg">octomy_logo.svg</a></td>
							<td>SVG</td>
							<td>Official {{context.app_name}}Logo with text</td>
						</tr>
						<tr>
							<td><img src="https://gitlab.com/octomy/octomy/-/raw/master/content/design/octomy_logo.png" class="figure-img img-fluid"></td>
							<td><a href="https://gitlab.com/octomy/octomy/-/raw/master/content/design/octomy_logo.png" target="_octomy_logo_png">octomy_logo.png</a></td>
							<td>PNG</td>
							<td>Official {{context.app_name}}Logo with text</td>
						</tr>
						<tr>
							<td><img src="https://gitlab.com/octomy/octomy/-/raw/master/src/libs/libres/resources/icons/agent.svg" class="figure-img img-fluid"></td>
							<td><a href="https://gitlab.com/octomy/octomy/-/raw/master/src/libs/libres/resources/icons/agent.svg" target="_octomy_agent_logo_svg">agent_logo.svg</a></td>
							<td>SVG</td>
							<td>Agent logo, mark only.</td>
						</tr>
						<tr>
							<td><img src="https://gitlab.com/octomy/octomy/-/raw/master/src/libs/libres/resources/icons/remote.svg" class="figure-img img-fluid"></td>
							<td><a href="https://gitlab.com/octomy/octomy/-/raw/master/src/libs/libres/resources/icons/remote.svg" target="_octomy_remote_logo_svg">remote_logo.svg</a></td>
							<td>SVG</td>
							<td>Remote logo, mark only.</td>
						</tr>
						<tr>
							<td><img src="https://gitlab.com/octomy/octomy/-/raw/master/src/libs/libres/resources/icons/hub.svg" class="figure-img img-fluid"></td>
							<td><a href="https://gitlab.com/octomy/octomy/-/raw/master/src/libs/libres/resources/icons/hub.svg" target="_octomy_hub_logo_svg">hub_logo.svg</a></td>
							<td>SVG</td>
							<td>Hub logo, mark only.</td>
						</tr>
						<tr>
							<td><img src="https://gitlab.com/octomy/octomy/-/raw/master/src/libs/libres/resources/icons/zoo.svg" class="figure-img img-fluid"></td>
							<td><a href="https://gitlab.com/octomy/octomy/-/raw/master/src/libs/libres/resources/icons/zoo.svg" target="_octomy_zoo_logo_svg">zoo_logo.svg</a></td>
							<td>SVG</td>
							<td>Zoo logo, mark only.</td>
						</tr>
					</tbody>
				</table>

			</div>
			
		</div>
	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

