<!DOCTYPE html>
<html lang="en">
<head>
<!-- https://www.cssscript.com/demo/dark-mode-switcher-bootstrap/ -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="generator" content="{{context.app_name}} website">
	<title>Examples index</title>
	<!-- Bootstrap core CSS -->
	<link href="/static/styles/main.css" rel="stylesheet">

	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}

		body, html{
			height: 100%;
		}

		.content-iframe{
			height: calc(100% - 40px);
			width:100%;
			padding:0;
			margin:0;
		}

	</style>

</head>

<body>

	<nav class="navbar navbar-expand-md fixed-top">
		<a class="navbar-brand" href="#">Demo</a>
		<ul class="navbar-nav mr-auto" id="navitems">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">Examples</a>
				<div class="dropdown-menu" id="examples-dropdown">
					<template id ="navitem">
					<div>
						<a class="dropdown-item" href="#" data-iframe-target="Template">Template</a>
						</div>
					</template>
				</div>
			</li>
			<a class="nav-link " href="#" id="reload">Reload <i class="fa fa-refresh" aria-hidden="true"></i></a>
		</ul>
		<!-- 
		<form class="form-inline mt-2 mt-md-0">
		<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		-->
	</nav>
	<nav class="navbar">
		&nbsp;
	</nav>

	<iframe class="content-iframe" src="demo/widgets" style="border:0;"></iframe>
	
	<script>
		
		function Capitalize(str){
			return str.charAt(0).toUpperCase() + str.slice(1);
		}
		const items=[
			"album"
			, "blog"
			, "carousel"
			, "checkout"
			, "cover"
			, "dashboard"
			, "floating-labels"
			, "grid"
			, "index"
			, "jumbotron"
			, "navbar-bottom"
			, "navbar-fixed"
			, "navbar-static"
			, "navbars"
			, "offcanvas"
			, "pricing"
			, "product"
			, "sign-in"
			, "starter-template"
			, "sticky-footer"
			, "sticky-footer-navbar"
			, "widgets"
		];
		window.addEventListener("load", function(){
		const iframe = document.querySelectorAll(".content-iframe")[0];
		const template = document.querySelectorAll("#navitem")[0].content;
		const target = document.querySelectorAll("#examples-dropdown")[0];
		for(item of items){
			console.log(item, target, template);
			const clone = template.cloneNode(true);
			const a = clone.querySelectorAll("a")[0];
			if(a){
				a.href="#";
				a.innerText=Capitalize(item);
				a.dataset.iframeTarget=item;
				target.appendChild(clone);
			}
		}
		let itarget="index";
		function setTarget(target){
			console.log("Setting target:" ,target, " from ", itarget)
			itarget=target;
			iframe.src="demo/"+itarget+"#"+Date.now()
		}
		for(a of document.querySelectorAll("a[href='#']") ){
			const target=a.dataset.iframeTarget;
			if(target){
				a.addEventListener("click", function(){
					const t=target;
					setTarget(t);
				});
			}
		
		}
		document.querySelectorAll("#reload")[0].addEventListener("click", function(){
			setTarget(itarget);
		});
		
		});
	
	</script>
	
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
	


</body>
</html>
