<!-- page navbar start -->
<header>
	<nav class="navbar navbar-expand-md fixed-top bg-dark">
		<!-- <a class="navbar-brand" href="#">{{context.app_name}}</a> -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/download">Download</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/documentation">Docs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contribute">Contribute</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://blog.octomy.org/">Blog</a>
				</li>
				<li class="nav-item" style="white-space: nowrap;">
					<p><a href="https://u24.gov.ua/"><img class="img-fluid" style="height:1.5em; padding:0; margin:0; padding-left:2em;padding-right:0.5em;"  src="/static/images/OctoMY_stands%20with:Ukraine_SLAVA_UKRAINA.svg" alt="{{context.app_name}} stands firmly with Ukraine agianst the unprovoked terror of russia. Please consider helping."></a> {{context.app_name}} stands firmly with Ukraine. <a href="https://u24.gov.ua/">https://u24.gov.ua/</a>
				</li>
			</ul>
			{% if context.search_engine %}
			<form class="form-inline mt-2 mt-md-0">
				<input class="form-control outline-primary mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
			</form>
			{% endif %}
			
		</div>
	</nav>
	<nav class="navbar navbar-expand-md bg-dark ">
	&nbsp;
	</nav>
</header>
<!-- page navbar end -->
