<!-- begin:page_subpages.html -->
<div class="card border-light">
	<div class="card-body">
		<h4 class="card-title">Subpages</h4>
		<p class="card-text">
			<ul>
				{% for name, subpage in subpages.items() recursive %}
					<li><a href="/{{subpage.path}}">{{subpage.title}}</a></li>
				{% endfor %}
			</ul>
		</p>
	</div>
</div>
<!-- end:page_subpages.html -->
