<!-- page navbar start -->
<br>

<footer class="pt-4 my-md-5 pt-md-5 border-top container">
	<p class="float-right"><a href="#">Back to top</a></p>
	<div class="row">
		<div class="col-12 col-md">
			<img class="mb-2" src="/static/images/favicon.svg" alt="{{context.app_name}} small logo" width="24" height="24">
			<small class="d-block mb-3 text-muted">&copy; 2016-{{datetime.date.today().year}} {{context.app_name}}</small>
		</div>
		<div class="col-6 col-md">
			<h5>About</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="/about/mandate">Mandate</a></li>
				<li><a class="text-muted" href="/about/contact">Contact</a></li>
				<li><a class="text-muted" href="/about/features">Features</a></li>
				<li><a class="text-muted" href="/about/status">Status</a></li>
				<li><a class="text-muted" href="/about/branding">Branding</a></li>
				<li><a class="text-muted" href="/about/history">History</a></li>
				
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Resources</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="/build/qt">Qt Builds</a></li>
				<li><a class="text-muted" href="/build/agent">Agent Builds</a></li>
				<li><a class="text-muted" href="/build/remote">Remote Builds</a></li>
				<li><a class="text-muted" href="/build/hub">Hub Builds</a></li>
				<li><a class="text-muted" href="/zoo">Zoo</a></li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Legal</h5>
			<ul class="list-unstyled text-small">
				<li><a class="text-muted" href="/about/legal/license">License</a></li>
				<li><a class="text-muted" href="/about/legal/privacy">Privacy Statement</a></li>
			</ul>
		</div>
	</div>
	
</footer>

<!-- page navbar end -->
