<!-- begin:page_topics.html -->
<div class="card border-light">
	<div class="card-body">
		<h4 class="card-title">Topics</h4>
		<p class="card-text">
			<ul>
				{% for topic in topics %}
					<li>{{topic}}</li>
				{% endfor %}
			</ul>
		</p>
	</div>
</div>
<!-- end:page_topics.html -->
