<!-- begin:page_title.html -->
<div class="jumbotron">
	<div class="container">
		<h1><strong>{{frontmatter.title}}</strong></h1>
		<p>{{frontmatter.subtitle}}</p>
	</div>
</div>
<!-- end:page_title.html -->
