<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{{page_sdescription or context.app_name}}">
		<meta name="generator" content="OctoMY website">
		<link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg">
		<title>{{page_title or context.app_name}} - {{page_sdescription or context.app_name}}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<!-- Bootstrap core CSS -->
		<link href="/static/styles/main.css" rel="stylesheet">
	</head>
	<body>
<!-- page head end -->
