{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Academy</strong></h1>
			<p>Teach the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
	
		<div class="row px-5">
			<div class="col-md-6">
				<h3>Academy</h3>
				<p>When the time is right, we want to set up an apprenticeship to make learning {{context.app_name}} easier. {{context.app_name}} is already a large project with many facets that will take a long time to learn on your own.</p>
				
				<p>Anyone can make learning easier by sharing what they know.</p>
				
				<h3>Material ideas</h3>
				<ul>
					<li>Make a YouTube video</li>
					<li>Write a blog article</li>
					<li>Create an <a href="https://www.instructables.com/" target="_instructables">instructable</a></li>
					<li>Ask &amp; answer questions on <a href="https://stackoverflow.com/" target="_stackoverflow">stackoverflow</a></li>
					<li>Host a workshop in a makespace / hackerspace</li>
				</ul>
				
			</div>
			<div class="col-md-6">

				<img src="/static/images/Teach_a_beginner.png" alt="Teach a beginner">

			</div>
			
		</div>
	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

