{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>About {{context.app_name}}</strong></h1>
			<p>All about the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
		<div class="row px-5">
			<div class="col-md-6">
				
				<h3>What is {{context.app_name}}?</h3>
				
				<ul>
					<li>{{context.app_name}} is a not-for-profit project with a <a href="/about/mandate">mandate</a> to become the <strong>leading <a href="/download">software</a> for any kind of hobby robots</strong>.</li>
					<li>When you install the <strong>{{context.app_name}} Agent</strong> app on a phone and attach it to your robot, it gives it the ability to <a href="/about/features">move about autonomously</a>, communicate with other robots and people and many many more increadible features.</li>
					<li>When you install the <strong>{{context.app_name}} Remote</strong> app on your phone, you can control virtually any toy or hobby robot running Agent.</li>
					<li>When you install the <strong>{{context.app_name}} Hub</strong> application on your tablet or PC, you can command a fleet of Agents and get a rich overview.</li>
					<li>This trio of apps gives your toy robots the ability to run <strong>state of the art AI models</strong> for an inconceivable amount of awesome sci-fi nerdyness.</li>
					<li>{{context.app_name}} is <strong>open source</strong> so that everyone can hack on it for free and forever.</li>
					<li>You can take part and engage with a well organized, growing and thriving <strong>community</strong> of fellow makers, developers, hackers and creators world wide to develop skills and bonds.</li>
				</ul>

				<p><i>NOTE: While {{context.app_name}} already has these traits, we are still  actively seeking participants to join the ongoing effort to create the first binary release.</i></p>
				
				<h3>Robots' rights</h3>
				<p>We work for robots' rights from the start.</p>

				<p>If you actually read the mandate linked above you would also note that the {{context.app_name}} project actively promotes the rights of artificial beings. Yes that is right, our history is full of mistakes, let's not repeat them again.</p>
				
				<br>

				{% include 'includes/page_subpages.html' %}
			</div>
			<div class="col-md-6">

				<h3>Deliverables</h3>

				<p>The project consists of a set of distributed multi-platform apps written in <a href="https://en.wikipedia.org/wiki/C%2B%2B">C++</a> &amp; <a href="https://qt.io">Qt</a> for running and controlling robots.</p>

				<p>Deliverables will include stable binary releases for a series of <a href="/about/status">supported platforms</a>.</p>


				<h3>Current Status</h3>
				
				<p>The status of {{context.app_name}} is currently "continuously frantic development with occasional successful builds and new features added every day".</p>
				
				<p>As with all overly ambitious projects, the code base has evolved in stages from a simple working prototype to a more self confident but prolonged cycle of development.</p>
				
				<p>Here is the <a href="/about/features">ever-growing list of features</a> in full, and updated <a href="/download#code">build status</a>.</p>


				<h3>What's in a name?</h3>

				<p>{{context.app_name}} is a catchy and hopefully descriptive frankenword between octo - meaning "pertaining to 8" and anatomy- meaning " the bodily structure of an organism".</p>
				
				<img alt="The first robot supported by {{context.app_name}} was the hexy robot kit" src="/static/images/hexy_transparent_small.png">

				<p>The emphasis on 8 is strictly historical as the initial robot that {{context.app_name}} was wirtten to support happened to have 8 legs. However the project is meant to work with any robot, limbed or not.</p>
				<p>The word is a loose hyponym for Hexapod, the "leg" part should not be inferred, OctoMY is made for <i>robots both big and small</i> with any <i>number of wings, tentacles, wheels threads or otherwise</i>.</p>
				

				<h3>Logo</h3>

				<img alt="Official {{context.app_name}} logo in PNG image format" src="/static/images/octomy_logo.png" class="fluid-img" style="max-height:8em; padding:1em;">

				<p>The Logo is a simplified graphical representation of an octopod (8-legged) robot, with the number 8 hidden as a shape. Also, the smiling face is literally from the initial goal of OctoMY, namely to "put a smiling face on your robot". Many alternate faces have been tried, but the first almost ironic face shape has stuck.</p>
			</div>
			
		</div>
	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}
