{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Status</strong></h1>
			<p>Depend on the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
		<div class="card  border-secondary mb-3">
			<img class="card-img-top" src="/static/images/nodes/Devices_header.svg">
			<h4 class="card-header">Targeted platforms</h4>
			<div class="table-group table-group-flush">
				<table class="table">
					<thead>
						<tr>
							<th scope="col" class="text-center">Platform</th>
							<th scope="col">Details</th>
							<th scope="col" class="text-center">Planned</th>
							<th scope="col" class="text-center">Code</th>
							<th scope="col" class="text-center">Automation</th>
							<th scope="col" class="text-center">Build</th>
						</tr>
					</tead>
					<tbody>
						<tr>
							<td class="text-center"><img src="/static/images/platforms/Android_logo.svg" alt="Android" style="max-width:2em;"></td>
							<td><p>Android Smartphone OS</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger"></i></td>
						</tr>
						<tr>
							<td class="text-center"><img src="/static/images/platforms/Debian_logo.svg" alt="Android" style="max-width:2em;"></td>
							<td><p>Debian Desktop OS</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger"></i></td>
						</tr>
						<tr>
							<td class="text-center"><img src="/static/images/platforms/Ubuntu_logo.svg" alt="Android" style="max-width:2em;"></td>
							<td><p>Ubuntu Desktop OS</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger"></i></td>
						</tr>
						<tr>
							<td class="text-center"><img src="/static/images/platforms/IOS_logo.svg" alt="Android" style="max-width:2em;"></td>
							<td><p>iOS Smartphone OS</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger"></i></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger"></i></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger"></i></td>
						</tr>
							<td class="text-center"><img src="/static/images/platforms/OSX_logo.svg" alt="Android" style="max-width:2em;"></td>
							<td><p>OSX Desktop OS</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger"></i></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger"></i></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger"></i></td>
						</tr>
						<tr>
							<td class="text-center"><img src="/static/images/platforms/Windows_logo.svg" alt="Android" style="max-width:2em;"></td>
							<td><p>Windows Dekstop OS</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger"></i></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		
		<div class="card  border-secondary mb-3">
			<img class="card-img-top" src="/static/images/nodes/Devices_header.svg">
			<h4 class="card-header">Targeted headless platforms</h4>
			<div class="table-group table-group-flush">
				<table class="table">
					<thead>
						<tr>
							<th scope="col" class="text-center">Platform</th>
							<th scope="col">Details</th>
							<th scope="col" class="text-center">Planned</th>
							<th scope="col" class="text-center">Code</th>
							<th scope="col" class="text-center">Automation</th>
							<th scope="col" class="text-center">Build</th>
						</tr>
					</tead>
					<tbody>
						<tr>
							<td class="text-center"><img src="/static/images/platforms/Debian_logo.svg" alt="Android" style="max-width:2em;"></td>
							<td><p>Debian Server OS</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger"></i></td>
						</tr>
						<tr>
							<td class="text-center"><img src="/static/images/platforms/Ubuntu_logo.svg" alt="Android" style="max-width:2em;"></td>
							<td><p>Ubuntu Server OS</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-check text-success"></i></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

