{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Legal</strong></h1>
			<p>Legalize the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
		{% include 'includes/page_subpages.html' %}
	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

