{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Documentation</strong></h1>
			<p>Learn about the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
	
		<div class="row px-5">
			<div class="col-md-6">
				{% include 'includes/page_subpages.html' %}

			</div>
			<div class="col-md-6">

				<h3>Fair Warning</h3>
				<p>This project is under heavy development. The code may just compile and run, but don't expect much yet. Please see the <a href="/documentation/features">features list</a> to get an impression of the current status.</p>
				
				<h3>For end-users</h3>
				
				<img src="/static/images/Human_interaction.jpeg">
				
				<p>This project is not ready for end-users yet. But in the future, to get started as a user, please follow the instructions in the <a href="/documentation/user-manual/agent/getting-started">getting started</a> guide. Also, if you are stuck and/or want to get in contact with fellow users, you can always <a href="/about/contact">get in touch</a>.</p>
				
				
				<h3>For developers</h3>
				
				<img src="/static/images/Code.png">
				
				<p>Please explore the table of contents, especially the <a href="/documentation/development/architectual-overview">architectual overview</a>, and code in github for now. More detailed documentation will be made available. Also, if you are stuck and/or want to get in contact with fellow developers, you can always <a href="/about/contact">get in touch</a>.</p>

			</div>
			
		</div>
	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

