{% if context.search_engine %}

{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}


<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Search</strong></h1>
			<p>Find the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
		<div class="card  border-primary mb-3">
			<h3 class="card-header">Query</h3>
			<div class="card-body">
				<div class="form-group">
					<form autocomplete="off">
						<div class="input-group">
							<input class="form-control" id="q" name="q" placeholder="Search query" type="text">
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit">Search</button>
							</div>
						</div>
					</form>
				</div>
				<div class="progress" id="p" style="opacity:1">
					<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
				</div>
			</div>
		</div>
		<template id="t">
			<li>
				<a class="pt-2 px-2 d-block dropdown-item-pseudo-focus result" href="#">
					<p class="text-uppercase mb-0 title"></p>
					<p class="small font-weight-bold mb-0 pb-2 text-muted summary"></p>
				</a>
				<hr class="m-0 p-0">
			</li>
		</template>
<div class="rounded shadow-5" style="display: block;">
	<ul id="r" class="list-unstyled mb-0 perfect-scrollbar ps">

	</ul>
	<hr class="my-0">
	<p class="text-muted small text-end pe-3 mt-3">search results: <strong id="c">0</strong></p>
</div>
<style>
	#p{
		transition: opacity 0.25s ease-in-out;
	}
</style>
<script>

window.addEventListener("load", function(){
	console.log("WL");
	const searchQuery = document.querySelectorAll("#q")[0];
	const searchResult = document.querySelectorAll("#r")[0];
	const resultCount = document.querySelectorAll("#c")[0];
	const template = document.querySelectorAll("#t")[0].content;
	const progressBar = document.querySelectorAll("#p")[0];
	const cache={"":[]};
	let last_q="";
	let progressTimer;
	
	function bump_progress(on){
		if(on){
			console.log("PROGREESS ON");
			clearTimeout(progressTimer);
			progressBar.style.opacity=1;
		}
		else{
			console.log("PROGREESS OFF RAW");
			clearTimeout(progressTimer);
			progressTimer = setTimeout(function(){
				console.log("PROGREESS OFF DELAYED");
				progressBar.style.opacity=0;
			}, 250);
		}
	}
	
	async function ask_server(q){
		try {
			const response = await fetch(`/search/json?q=${encodeURIComponent(q)}`);
			if (!response.ok) {
				throw new Error(`Bad response: ${response.status}: "${response.statusText}"`);
			}
			return await response.json();
		} catch (error) {
			console.error("Error search:", error);
		}
		return undefined;
	}
	
	function Capitalize(str){
		return str.charAt(0).toUpperCase() + str.slice(1);
	}
	
	async function update_ui(){
		// Keep our own copy to avoid changing value
		const q = last_q;
		r.innerHTML="";
		bump_progress(false);
		if("" === q || undefined === q){
			console.log("Closing UI for Q", q);
			return;
		}
		ret=cache[q];
		if(undefined !== ret){
			console.log("Filling UI for Q", q, ret);
			resultCount.innerHTML=`${ret.length}`;
			for(row of ret){
				const clone = template.cloneNode(true);
				const result = clone.querySelectorAll(".result")[0];
				if(result){
					result.href = row[5];
					const title = result.querySelectorAll(".title")[0];
					title.innerHTML = Capitalize(row[1]);
					const summary = result.querySelectorAll(".summary")[0];
					summary.innerHTML = `&hellip;${row[2]}&hellip;`;
				}
				r.appendChild(clone);
			}
		}
	}
	
	async function look_up(){
		let q = searchQuery.value;
		q=q.trim();
		if(last_q === q){
			console.log("No change in Q", q);
			return;
		}
		console.log("Looking up Q", q);
		last_q = q;
		let ret=cache[q];
		bump_progress(true);
		if(ret !== undefined){
			console.log("Cache hit for Q", q);
		}
		else{
			console.log("Cache miss for Q", q);
			ret = await ask_server(q);
			if(undefined !== ret){
				console.log("Cache fill for Q", q, ret);
				cache[q]=ret.sort(function(a, b){
					return a[0] > b[0];
				});
			}
		}
		await update_ui();
	}
	searchQuery.addEventListener("keyup", look_up);
	searchQuery.focus();
	bump_progress(false);
});
</script>

	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

{% endif %}
