{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Contribution</strong></h1>
			<p>Contribute to the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
	
		<div class="row px-5">
			<div class="col-md-6">


				<h3>Contribute your time</h3>
				<p>The most precious resource in the universe is arguably time.</p>
				
				<p>We humbly accept your contributions of skills and time, and promise they will be put to good use for the benefit of users of the {{context.app_name}} software stack all over the world.</p>
				
				<p>This project is in dire need of all sorts of things, and we welcome suggestions. You will surely know best where your contribution can make the biggest impact. We are an meritocracy where the do'ers win over the say'ers every time.</p>

				<p><a class="btn btn-primary" href="/about/contact">Get in touch now</a></p>
				<p>...and continue to build {{context.app_name}} with us!</p>

				<h3>Suggested areas of contribution</h3>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="col">Area</th>
							<th scope="col">Contributions</th>
						</tr>
					</tead>
					<tbody>
						<tr>
							<td>Interaction</td>
							<td>
								<ul>
									<li>UX</li>
									<li>UI Translation</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>Design</td>
							<td>
								<ul>
									<li>.svg icons</li>
									<li>profile graphics</li>
									<li>UI theming</li>
									<li>SoMe banners</li>
									<li>Illustrations for documentation</li>
									<li>Web design</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>Development</td>
							<td>
								<ul>
									<li>Testing</li>
									<li>Bug fixing</li>
									<li>Optimiszation</li>
									<li>Refactoring</li>
									<li>Adding features</li>
									<li>Architecture</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>Marketing</td>
							<td>
								<ul>
									<li>Youtube content</li>
									<li>Blog posts</li>
									<li>Brand management</li>
									<li>Evangelist/Ambasador</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>Deployment</td>
							<td>
								<ul>
									<li>Build automation </li>
									<li>Test automation</li>
									<li>Release management</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>Platform integration</td>
							<td>
								<ul>
									<li>Android</li>
									<li>iOS</li>
									<li>OSX</li>
									<li>Windows</li>
									<li>Windows RT</li>
									<li>Ubuntu</li>
									<li>Debian</li>
									<li>Arduino</li>
									<li>ARM</li>
									<li>i386</li>
									<li>amd64</li>
									<li>Rasberry Pi</li>
									<li>STM32</li>
									<li>&mldr;</li>
								</ul>
							</td>
						</tr>
						<tr>
							<td>Other</td>
							<td>
								<ul>
									<li><i>&lt;insert your suggestion here&gt;</i></li>
								</ul>
							</td>
						</tr>

					</tbody>
				</table>

			</div>
			<div class="col-md-6">

				<h3>Other ways to contribute</h3>
				<p>If you want to support this project without spending too much effort, there are other ways to help out. Pick your poison below:</p>
				{% include 'includes/page_subpages.html' %}
				<br>
				<img src="/static/images/dangerously.png" alt="Live dangerously as an {{context.app_name}} contributor" style="max-width:25em;">

			</div>
			
		</div>
	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

