{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Sponsorship</strong></h1>
			<p>Sponsor the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
	
		<div class="row px-5">
			<div class="col-md-6">

				<h3>Commercial Sponsorship</h3>
				<p>If you represent a company you may sponsor us in a number of ways.</p>
				
				<ul>
					<li>Donate or lend us hardware for compatibility testing.</li>
					<li>Apply for official <a href="/documentation/supported-hardware/seal-of-approval">seal of approval</a> to have our badge on your product.</li>
					<li>Put branding on our page for a fee.</li>
					<li>Beyond this, we are open to suggestions, so please <a href="/about/contact">get in touch</a>.</li>
				</ul>
				

			</div>
			<div class="col-md-6">
				<img src="/static/images/Handshake_human_robot.jpeg" alt="Human and robot handshake" style="max-height:13em;">
				<p><i>NOTE: Due to our status as an open-source not-for-profit project we may not be able to accept your sponsorship request.</i></p>
			</div>
			
		</div>
	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

