# syntax=docker/dockerfile:experimental

   ############################################################################
   #                                                                          #
   #      purpose: A build environemnt for this Qt:                           #
   #                                                                          #
   #      version: Qt{{ "{:<48}".format(config.labels.qt_version,) }}         #
   # architecture: {{ "{:<42}".format(config.labels.arch,) }}                 #
   #      linkage: {{ "{:<45}".format(config.labels.linkage,) }}              #
   #   target o/s: {{ "{:<59}".format("{0}({1}:{2})".format(config.labels.os, config.labels.os_dist, config.labels.os_version)) }}#
   #          tag: {{ "{:<1}".format(config.tag,) }}#
   #            @: {{ "{:<44}".format("{0}".format(now(),),) }}               #
   #                                                                          #
   #   Created by: {{ "{:<33}".format(tool_name,) }}                          #
   #         NOTE: Manual changes will be overwritten on the next run         #
   #                                                                          #
   ############################################################################

# --platform=$BUILDPLATFORM
FROM {{config.labels.os_dist}}:{{config.labels.os_version}}{% if "slim" %}-slim{% endif %} as os_level
{% if "apt" == package_manager %}
RUN \
       export DEBIAN_FRONTEND=noninteractive \
    && apt -y update \
    && apt -y upgrade \
    && apt -y install --no-install-recommends \
           {{- packages|join(' \\\n\t') -}} \
    && apt -y autoremove -y \
    && apt -y autoclean \
    && apt -y clean \
    && rm -rf /var/lib/apt/lists/* \
    && exit 0
{% else  %}
# Unknown package manager: '{{package_manager}}'
{% endif %}
RUN python3 -m pip install --upgrade pip
RUN python3 -m pip install aqtinstall

RUN aqt install-src {{ config.labels.os }} {{ config.labels.qt_version }}
RUN ln -s {{ config.labels.qt_version }}/Src src
RUN src/configure --help > config_help.txt
RUN mkdir build
RUN mkdir install

RUN cd build
RUN ../src/configure --help
RUN ../src/configure -list-libraries || true
RUN ../src/configure -list-features || true
RUN ../src/configure {{ qt_configure_options|join('\\\n\t') }}

RUN MAKEFLAGS=-j\$(nproc) make -k -j \$(nproc) >  qt_build_log.txt
RUN MAKEFLAGS=-j\$(nproc) make -k -j \$(nproc) >> qt_build_log.txt

RUN cat qt_build_log.txt

RUN MAKEFLAGS=-j\$(nproc) make -k -j \$(nproc) install

RUN ../install/bin/qmake --version

#ENTRYPOINT ["/bin/bash", "-c"]
#CMD ["/bin/cat", "/etc/os-release"]
