{% include 'includes/page_head.html' %}


	<style>
	  .bd-placeholder-img {
		font-size: 1.125rem;
		text-anchor: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	  }

	  @media (min-width: 768px) {
		.bd-placeholder-img-lg {
		  font-size: 3.5rem;
		}
	  }
	  /* stylelint-disable selector-list-comma-newline-after */
	  
	  .blog-header {
		line-height: 1;
		border-bottom: 1px solid #e5e5e5;
	  }
	  
	  .blog-header-logo {
		font-family: "Playfair Display", Georgia, "Times New Roman", serif;
		font-size: 2.25rem;
	  }
	  
	  .blog-header-logo:hover {
		text-decoration: none;
	  }
	  
	  h1, h2, h3, h4, h5, h6 {
		font-family: "Playfair Display", Georgia, "Times New Roman", serif;
	  }
	  
	  .display-4 {
		font-size: 2.5rem;
	  }
	  @media (min-width: 768px) {
		.display-4 {
		  font-size: 3rem;
		}
	  }
	  
	  .nav-scroller {
		position: relative;
		z-index: 2;
		height: 2.75rem;
		overflow-y: hidden;
	  }
	  
	  .nav-scroller .nav {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		padding-bottom: 1rem;
		margin-top: -1px;
		overflow-x: auto;
		text-align: center;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
	  }
	  
	  .nav-scroller .nav-link {
		padding-top: .75rem;
		padding-bottom: .75rem;
		font-size: .875rem;
	  }
	  
	  .card-img-right {
		height: 100%;
		border-radius: 0 3px 3px 0;
	  }
	  
	  .flex-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	  }
	  
	  .h-250 { height: 250px; }
	  @media (min-width: 768px) {
		.h-md-250 { height: 250px; }
	  }
	  
	  /* Pagination */
	  .blog-pagination {
		margin-bottom: 4rem;
	  }
	  .blog-pagination > .btn {
		border-radius: 2rem;
	  }
	  
	  /*
	   * Blog posts
	   */
	  .blog-post {
		margin-bottom: 4rem;
	  }
	  .blog-post-title {
		margin-bottom: .25rem;
		font-size: 2.5rem;
	  }
	  .blog-post-meta {
		margin-bottom: 1.25rem;
		color: #999;
	  }
	  
	  /*
	   * Footer
	   */
	  .blog-footer {
		padding: 2.5rem 0;
		color: #999;
		text-align: center;
		background-color: #f9f9f9;
		border-top: .05rem solid #e5e5e5;
	  }
	  .blog-footer p:last-child {
		margin-bottom: 0;
	  }
	  
	</style>

	
<div class="container">
  <header class="blog-header py-3">
	<div class="row flex-nowrap justify-content-between align-items-center">
	  <div class="col-4 pt-1">
		<a class="text-muted" href="#">Subscribe</a>
	  </div>
	  <div class="col-4 text-center">
		<a class="blog-header-logo text-dark" href="#">Large</a>
	  </div>
	  <div class="col-4 d-flex justify-content-end align-items-center">
		<a class="text-muted" href="#" aria-label="Search">
		  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
		</a>
		<a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
	  </div>
	</div>
  </header>

  <div class="nav-scroller py-1 mb-2">
	<nav class="nav d-flex justify-content-between">
	  <a class="p-2 text-muted" href="#">World</a>
	  <a class="p-2 text-muted" href="#">U.S.</a>
	  <a class="p-2 text-muted" href="#">Technology</a>
	  <a class="p-2 text-muted" href="#">Design</a>
	  <a class="p-2 text-muted" href="#">Culture</a>
	  <a class="p-2 text-muted" href="#">Business</a>
	  <a class="p-2 text-muted" href="#">Politics</a>
	  <a class="p-2 text-muted" href="#">Opinion</a>
	  <a class="p-2 text-muted" href="#">Science</a>
	  <a class="p-2 text-muted" href="#">Health</a>
	  <a class="p-2 text-muted" href="#">Style</a>
	  <a class="p-2 text-muted" href="#">Travel</a>
	</nav>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
	<div class="col-md-6 px-0">
	  <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
	  <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
	  <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
	</div>
  </div>

  <div class="row mb-2">
	<div class="col-md-6">
	  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
		<div class="col p-4 d-flex flex-column position-static">
		  <strong class="d-inline-block mb-2 text-primary">World</strong>
		  <h3 class="mb-0">Featured post</h3>
		  <div class="mb-1 text-muted">Nov 12</div>
		  <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
		  <a href="#" class="stretched-link">Continue reading</a>
		</div>
		<div class="col-auto d-none d-lg-block">
		  <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

		</div>
	  </div>
	</div>
	<div class="col-md-6">
	  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
		<div class="col p-4 d-flex flex-column position-static">
		  <strong class="d-inline-block mb-2 text-success">Design</strong>
		  <h3 class="mb-0">Post title</h3>
		  <div class="mb-1 text-muted">Nov 11</div>
		  <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
		  <a href="#" class="stretched-link">Continue reading</a>
		</div>
		<div class="col-auto d-none d-lg-block">
		  <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

		</div>
	  </div>
	</div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
	<div class="col-md-8 blog-main">
	  <h3 class="pb-4 mb-4 font-italic border-bottom">
		From the Firehose
	  </h3>

	  <div class="blog-post">
		<h2 class="blog-post-title">Sample blog post</h2>
		<p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

		<p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
		<hr>
		<p>Yeah, she dances to her own beat. Oh, no. You could've been the greatest. 'Cause, baby, <a href="#">you're a firework</a>. Maybe a reason why all the doors are closed. Open up your heart and just let it begin. So très chic, yeah, she's a classic.</p>
		<blockquote>
		  <p>Bikinis, zucchinis, Martinis, no weenies. I know there will be sacrifice but that's the price. <strong>This is how we do it</strong>. I'm not sticking around to watch you go down. You think you're so rock and roll, but you're really just a joke. I know one spark will shock the world, yeah yeah. Can't replace you with a million rings.</p>
		</blockquote>
		<p>Trying to connect the dots, don't know what to tell my boss. Before you met me I was alright but things were kinda heavy. You just gotta ignite the light and let it shine. Glitter all over the room <em>pink flamingos</em> in the pool. </p>
		<h2>Heading</h2>
		<p>Suiting up for my crowning battle. If you only knew what the future holds. Bring the beat back. Peach-pink lips, yeah, everybody stares.</p>
		<h3>Sub-heading</h3>
		<p>You give a hundred reasons why, and you say you're really gonna try. Straight stuntin' yeah we do it like that. Calling out my name. ‘Cause I, I’m capable of anything.</p>
		<pre><code>Example code block</code></pre>
		<p>Before you met me I was alright but things were kinda heavy. You just gotta ignite the light and let it shine.</p>
		<h3>Sub-heading</h3>
		<p>You got the finest architecture. Passport stamps, she's cosmopolitan. Fine, fresh, fierce, we got it on lock. Never planned that one day I'd be losing you. She eats your heart out.</p>
		<ul>
		  <li>Got a motel and built a fort out of sheets.</li>
		  <li>Your kiss is cosmic, every move is magic.</li>
		  <li>Suiting up for my crowning battle.</li>
		</ul>
		<p>Takes you miles high, so high, 'cause she’s got that one international smile.</p>
		<ol>
		  <li>Scared to rock the boat and make a mess.</li>
		  <li>I could have rewrite your addiction.</li>
		  <li>I know you get me so I let my walls come down.</li>
		</ol>
		<p>After a hurricane comes a rainbow.</p>
	  </div><!-- /.blog-post -->

	  <div class="blog-post">
		<h2 class="blog-post-title">Another blog post</h2>
		<p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

		<p>I am ready for the road less traveled. Already <a href="#">brushing off the dust</a>. Yeah, you're lucky if you're on her plane. I used to bite my tongue and hold my breath. Uh, She’s a beast. I call her Karma (come back). Black ray-bans, you know she's with the band. I can't sleep let's run away and don't ever look back, don't ever look back.</p>
		<blockquote>
		  <p>Growing fast into a <strong>bolt of lightning</strong>. Be careful Try not to lead her on</p>
		</blockquote>
		<p>I'm intrigued, for a peek, heard it's fascinating. Oh oh! Wanna be a victim ready for abduction. She's got that international smile, oh yeah, she's got that one international smile. Do you ever feel, feel so paper thin. I’m gon’ put her in a coma. Sun-kissed skin so hot we'll melt your popsicle.</p>
		<p>This is transcendental, on another level, boy, you're my lucky star.</p>
	  </div><!-- /.blog-post -->

	  <div class="blog-post">
		<h2 class="blog-post-title">New feature</h2>
		<p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

		<p>From Tokyo to Mexico, to Rio. Yeah, you take me to utopia. I'm walking on air. We'd make out in your Mustang to Radiohead. I mean the ones, I mean like she's the one. Sun-kissed skin so hot we'll melt your popsicle. Slow cooking pancakes for my boy, still up, still fresh as a Daisy.</p>
		<ul>
		  <li>I hope you got a healthy appetite.</li>
		  <li>You're never gonna be unsatisfied.</li>
		  <li>Got a motel and built a fort out of sheets.</li>
		</ul>
		<p>Don't need apologies. Boy, you're an alien your touch so foreign, it's <em>supernatural</em>, extraterrestrial. Talk about our future like we had a clue. I can feel a phoenix inside of me.</p>
	  </div><!-- /.blog-post -->

	  <nav class="blog-pagination">
		<a class="btn btn-outline-primary" href="#">Older</a>
		<a class="btn btn-outline-secondary disabled">Newer</a>
	  </nav>

	</div><!-- /.blog-main -->

	<aside class="col-md-4 blog-sidebar">
	  <div class="p-4 mb-3 bg-light rounded">
		<h4 class="font-italic">About</h4>
		<p class="mb-0">Saw you downtown singing the Blues. Watch you circle the drain. Why don't you let me stop by? Heavy is the head that <em>wears the crown</em>. Yes, we make angels cry, raining down on earth from up above.</p>
	  </div>

	  <div class="p-4">
		<h4 class="font-italic">Archives</h4>
		<ol class="list-unstyled mb-0">
		  <li><a href="#">March 2014</a></li>
		  <li><a href="#">February 2014</a></li>
		  <li><a href="#">January 2014</a></li>
		  <li><a href="#">December 2013</a></li>
		  <li><a href="#">November 2013</a></li>
		  <li><a href="#">October 2013</a></li>
		  <li><a href="#">September 2013</a></li>
		  <li><a href="#">August 2013</a></li>
		  <li><a href="#">July 2013</a></li>
		  <li><a href="#">June 2013</a></li>
		  <li><a href="#">May 2013</a></li>
		  <li><a href="#">April 2013</a></li>
		</ol>
	  </div>

	  <div class="p-4">
		<h4 class="font-italic">Elsewhere</h4>
		<ol class="list-unstyled">
		  <li><a href="#">GitHub</a></li>
		  <li><a href="#">Twitter</a></li>
		  <li><a href="#">Facebook</a></li>
		</ol>
	  </div>
	</aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

{% include 'includes/page_colophon.html' %}
</main><!-- /.container -->

{% include 'includes/page_foot.html' %}
