{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<style>
 .price{
	font-weight:bold;
 }
</style>
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>Contact {{context.app_name}}</strong></h1>
			<p>Speak with the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
		<div class="card  border-primary mb-3">
			<h3 class="card-header">Contact</h3>
			<div class="card-body">
				<div class="form-group">
					<label for="inquryText">Inquiry</label>
					<textarea class="form-control" placeholder="Inquiry text" id="inquryText" name="inquryText" rows="10"></textarea>
					<label for="fromEmail">From</label>
					<div class="input-group">
						<input class="form-control" id="fromEmail" name="fromEmail" placeholder="yourname@example.com" type="email" aria-describedby="fromEmailHelp">
						<div class="input-group-append">
							<button class="btn btn-primary" type="submit">Send</button>
						</div>
					</div>
					<small id="fromEmailHelp" class="form-text text-muted">If you provide a from address, we can reply to you.</small>
				</div>
			</div>
		</div>

		<div class="row px-5">
			<div class="col-md-6">

				<div class="card  bg-light mb-3">
					<h4 class="card-header">Reddit</h4>
					<div class="card-body">
							<img src="/static/images/Reddit_logo.svg" class="img-fluid" style="max-height:3em;">
							<br>
							<br>
							<p><a class="btn btn-primary" href="https://www.reddit.com/r/OctoMY" target="_octomy_reddit">{{context.app_name}} subreddit</a></p>
					</div>
				</div>
				

			</div>
			<div class="col-md-6">

				<h3>Other social media</h3>
				<p>If you feel up for it, you can maintain {{context.app_name}}'s presence on your favorite social media.</p>
				<p>NOTE: Maintaining a channel like this is a lot of work, so be prepared for that.</p>

			</div>
			
		</div>
	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

