{% include 'includes/page_head.html' %}
	<style>
	  .bd-placeholder-img {
		font-size: 1.125rem;
		text-anchor: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	  }

	  @media (min-width: 768px) {
		.bd-placeholder-img-lg {
		  font-size: 3.5rem;
		}
	  }
	  /* Custom page CSS
	  -------------------------------------------------- */
	  /* Not required for template or sticky footer method. */
	  
	  .container {
		width: auto;
		max-width: 680px;
		padding: 0 15px;
	  }
	  
	  .footer {
		background-color: #f5f5f5;
	  }
	  
	</style>

  <div class="d-flex flex-column h-100">
	
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
	<h1 class="mt-5">Sticky footer</h1>
	<p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
	<p>Use <a href="../examples/sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.</p>
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
	<span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>

</div>
{% include 'includes/page_foot.html' %}

