{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Mandate</strong></h1>
			<p>Respect the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
	
		<div class="row px-5">
			<div class="col-md-6">
				<h3>{{context.app_name}} Mandate</h3>
				<p>The {{context.app_name}} community strives for the following:</p>
				<ol>
					<li>Create a software platform for active software agents such as consumer robots and home appliances that can rival the commercial alternatives.</li>
					<li>Become the dominant platform by being the better choice for users and businesses alike.</li>
					<li>Maintain that the users themselves should be in control of her own robot and the data that it collects, and to make it abundantly easy to control the privacy settings for the hardware on which the {{context.app_name}} software runs.</li>
				</ol>

			</div>
			<div class="col-md-6">

				<h3>Addendum - sentient era</h3>
				<p>At the first scientifically acknowledged emergence of a sentient software system, the following addendum to the original {{context.app_name}} will go into effect.</p>
				<ol>
					<li>Actively and passively fight for the moral obligations of society towards its sentient software systems. These rights include the right to life and liberty, freedom of thought and expression and equality before the laws.</li>
					<li>Make sure that the {{context.app_name}} platform accommodates the well-being of sentient software systems in the best way possible, and to identify and extend the platform to support any features that would be of value to sentient software systems.</li>
				</ol>

			</div>

		</div>
	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

