{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} License</strong></h1>
			<p>License the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
	
		<div class="row px-5">
			<div class="col-md-6">
				
<h3>License</h3>
<p>The official license for {{context.app_name}} is part of the source code and can be tracked <a href="https://github.com/mrdeveloperdude/OctoMY/blob/master/LICENSE">here</a>.</p>

<p>In general terms, all the material for the {{context.app_name}} project is available under a dual license. The main license is LGPLv3 with the alternative being a commercial license that is made available by written agreement. Some 3rd party components may hold different licences ranging from GPL to public domain, and they will have their license noted and included in the source distribution.</p>

<p>The community edition of <a href="https://www.qt.io/licensing/">Qt platform</a> including it's tools upon which {{context.app_name}} depends greatly impose a LGPL with linking clause on any binaries produced, so if your project is commercial in nature you should considder buing a Qt license.</p>

<p>For a more comprehensive explanation of the license, you can look at <a href="http://blog.octomy.org/2016/12/octomy-official-license-set-to-gplv3.html">this blog post</a>.</p>

			</div>
			<div class="col-md-6">




			</div>
			
		</div>
	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

