{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<style>

.featurette-heading {
  line-height: 1.5;
  letter-spacing: -.05rem;
}

.featurette{
	padding: 1em;
}

.featurette img{
	max-width: 15em;
	padding:1em;
}

</style>
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}}</strong></h1>
			<p>Ready-to-run robot software.</p>
			<p>
				<a class="btn btn-lg btn-primary" href="/download"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download</a>
				<a class="btn btn-lg btn-primary" href="/contribute"><i class="fa fa-heart" aria-hidden="true"></i> Support this project</a>
			</p>
		</div>
	</div>
	<div class="container">
	

		<div class="row px-5">
			<div class="col-md-6">

				<div class="row featurette">
					<h2 class="featurette-heading">What is {{context.app_name}}?</h2>
					<p class="lead">{{context.app_name}} is the <i>open-source</i>, <i>ready-to-run</i> software that you should run on your next hobby robot.</p>
				</div>
				
				<div class="card-deck mb-3 text-center">
					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4 class="my-0 font-weight-normal">Agent</h4>
						</div>
						<div class="card-body">
							<img src="/static/images/nodes/Agent_logo.svg" alt="{{context.app_name}} Agent"  class="img-fluid">
							<ul class="list-unstyled mt-3 mb-4">
								<li>On robot</li>
								<li>Controlled</li>
								<li>Autonomy</li>
							</ul>
						</div>
					</div>

					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4 class="my-0 font-weight-normal">Remote</h4>
						</div>
						<div class="card-body">
							<img src="/static/images/nodes/Remote_logo.svg" alt="{{context.app_name}} Agent"  class="img-fluid">
							<ul class="list-unstyled mt-3 mb-4">
								<li>In hand</li>
								<li>Real-time</li>
								<li>Direct</li>
							</ul>
						</div>
					</div>
					
					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4 class="my-0 font-weight-normal">Hub</h4>
						</div>
						<div class="card-body">
							<img src="/static/images/nodes/Hub_logo.svg" alt="{{context.app_name}} Agent"  class="img-fluid">
							<ul class="list-unstyled mt-3 mb-4">
								<li>On desk</li>
								<li>Cloud APIs</li>
								<li>Scripting</li>
							</ul>
						</div>
					</div>

				</div>

			</div>
			<div class="col-md-6">

				<div class="row featurette">
					<h2 class="featurette-heading">What features does it have?</h2>
					<p><i>NOTE: {{context.app_name}} Is work in progress!</i></p>
					<ul>
						<li>Control your robots from <strong>any device</strong>, mobile or not.
						<li>Drive them yourself, create plans for their behavior or let them roam <strong>autonomously</strong>.</li>
						<li>Let your robots <strong>map</strong> their surroundings and <strong>recognize</strong> landmarks, objects and people.</li>
						<li>{{context.app_name}} Is <strong>fast</strong>, <strong>stable</strong> and ultimately <strong>flexible</strong>.</li>
						<li>It's maintains your privacy.</li>
						<li>It has a friendly user interface <strong>for beginners</strong> while not getting in the way of the <strong>experts</strong>.</li>
						<li>It is distributed by nature and allows for many complex configurations like flocking.</li>
						<li>It is <strong>extensible</strong>, and the API will allow new features to be added with ease.</li>
					</ul>
					<a href="/about/features">Read more...</a>
				</div>



			</div>
			
		</div>
		
		<object data="/static/images/Smiling_brain.svg" type="image/svg+xml" class="img-fluid" id="brain"></object>

		<div class="row px-5">
			<div class="col-md-6">

				<div class="row featurette">
					<h2 class="featurette-heading">Where can I download it?</h2>
					<p class="lead">{{context.app_name}} is meant to be installed directly from your favorite app store, but this is not ready yet. You can install from binaries on this page or build from source in git.</p>
					<a href="/download">Read more...</a>
					<img src="/static/images/Gitlab_logo.svg" alt="{{context.app_name}} uses Gitlab."  class="img-fluid">
				</div>

				<div class="row featurette">
					<h2 class="featurette-heading">How can I help?</h2>
					<p class="lead">You can contribute code, translations, design, testing, devices/hardware, suggestions or whatever else you can spare. {{context.app_name}} is meant to be a collaborative effort.</p>
					<a href="/contribute">Read more...</a>
					<img src="/static/images/Contributing_heart.svg" alt="{{context.app_name}} needs you."  class="img-fluid">
				</div>


			</div>
			<div class="col-md-6">

				<div class="row featurette">
					<h2 class="featurette-heading">Where can I get help &amp; documentation?</h2>
					<p class="lead">Documentation is available on this site. Help is available through these channels.</p>
					<a href="/documentation">Read more...</a>
					<img src="/static/images/Welcome_aboard.svg" alt="{{context.app_name}} is easy to use."  class="img-fluid">
				</div>

			</div>
			
		</div>
	</div>
	{% include 'includes/page_colophon.html' %}
	<script>

	window.addEventListener("load", function(){
		
		const brain=document.querySelectorAll("#brain")[0];
		if(brain){
			console.log("Found brain")
			function getSubDocument(embedding_element){
				if (embedding_element.contentDocument){
					return embedding_element.contentDocument;
				} 
				else{
					var subdoc = null;
					try {
						subdoc = embedding_element.getSVGDocument();
					} catch(e) {}
					return subdoc;
				}
			}
			var subdoc = getSubDocument(brain);
			if (subdoc){
							
				let circles = [];
				let msec_f = 0;
				let angle = 0;
				let r = 512;
				let center_r = 512;
				let center_v = {x:512, y:512}
				let msec = 0;
				let f2 = 0;
				const base_color= '#000000';//'#44dd45';
				const smile1=subdoc.querySelectorAll("#smile1")[0];
				const smile2=subdoc.querySelectorAll("#smile2")[0];
				const smile3=subdoc.querySelectorAll("#smile3")[0];
				const smile1_c="#ff4422";
				const smile2_c="#44ff22";


				function parseStyle(item){
					const styles = item.getAttribute('style').split(";");
					const out={}
					for(style of styles){
						style=style.trim();
						if(""==style){
							continue;
						}
						const parts=style.split(":");
						if(parts.length!=2){
							continue;
						}
						const key=parts[0].trim();
						const val=parts[1].trim();
						if(key.length<=0 || val.length<=0){
							continue;
						}
						out[key]=val;
					}
					return out;
				}

				function moveItem(item, x, y) {
					item.setAttribute('transform', `translate( ${x},${y})`);
				}
				function joinStyle(style){
					let out="";
					for (const [key, val] of Object.entries(style)) {
						out+=`${key}:${val};`;
					}
					return out;
				}

				function colorItem(item, fillColor, strokeColor){
					const style = parseStyle(item);
					style["fill"] = fillColor?fillColor:'none'
					style["stroke"] = strokeColor?strokeColor:'none'
					item.setAttribute('style', joinStyle(style))
				}
				
				
				function int_to_hex(num){
					var hex = Math.round(num).toString(16);
					if (hex.length == 1)
						hex = '0' + hex;
					return hex;
				}
				
				function blend_colors(color1, color2, factor){
					if(color1[0]=='#')color1=color1.substring(1);
					if(color2[0]=='#')color2=color2.substring(1);
					color1 = [parseInt(color1[0] + color1[1], 16), parseInt(color1[2] + color1[3], 16), parseInt(color1[4] + color1[5], 16)];
					color2 = [parseInt(color2[0] + color2[1], 16), parseInt(color2[2] + color2[3], 16), parseInt(color2[4] + color2[5], 16)];
					var color3 = [ 
						(1 - factor) * color1[0] + factor * color2[0], 
						(1 - factor) * color1[1] + factor * color2[1], 
						(1 - factor) * color1[2] + factor * color2[2]
					];
					// 5: convert to hex
					color3 = '#' + int_to_hex(color3[0]) + int_to_hex(color3[1]) + int_to_hex(color3[2]);
					return color3;
				}
								
				function kelvinToRgb(kelvin) {
					var temperature = kelvin / 100.0;
					var red, green, blue;
					if (temperature <= 66.0) {
						red = 255;
					} else {
						red = temperature - 60.0;
						red = 329.698727446 * Math.pow(red, -0.1332047592);
						if (red < 0) red = 0;
						if (red > 255) red = 255;
					}
					if (temperature <= 66.0) {
						green = temperature;
						green = 99.4708025861 * Math.log(green) - 161.1195681661;
						if (green < 0) green = 0;
						if (green > 255) green = 255;
					} else {
						green = temperature - 60.0;
						green = 288.1221695283 * Math.pow(green, -0.0755148492);
						if (green < 0) green = 0;
						if (green > 255) green = 255;
					}
					if (temperature >= 66.0) {
						blue = 255;
					} else {
					
						if (temperature <= 19.0) {
							blue = 0;
						} else {
							blue = temperature - 10;
							blue = 138.5177312231 * Math.log(blue) - 305.0447927307;
							if (blue < 0) blue = 0;
							if (blue > 255) blue = 255;
						}
					}
					red*=256;
					green*=256;
					blue*=256;
					red=Math.round(red);
					green=Math.round(green);
					blue=Math.round(blue);
					/*
					red=Math.min(255, red);
					green=Math.min(255, green);
					blue=Math.min(255, blue);
					*/
					color3 = '#' + int_to_hex(red) + int_to_hex(green) + int_to_hex(blue);
					return color3;
					//return {red: Math.round(red), blue: Math.round(blue), green: Math.round(green)};
				}

				function HSVtoRGB(h, s, v) {
					var r, g, b, i, f, p, q, t;
					i = Math.floor(h * 6);
					f = h * 6 - i;
					p = v * (1 - s);
					q = v * (1 - f * s);
					t = v * (1 - (1 - f) * s);
					switch (i % 6) {
						case 0: r = v, g = t, b = p; break;
						case 1: r = q, g = v, b = p; break;
						case 2: r = p, g = v, b = t; break;
						case 3: r = p, g = q, b = v; break;
						case 4: r = t, g = p, b = v; break;
						case 5: r = v, g = p, b = q; break;
					}
					color3 = '#' + int_to_hex(Math.round(r * 255)) + int_to_hex(Math.round(g * 255)) + int_to_hex(Math.round(b * 255));
					return color3;
				}

				function update(delta_msec) {
					msec += delta_msec*0.1;
					const last = msec_f;
					msec_f=(msec % 1000)/1000.0;
					angle=(msec_f*3.14159265*2);
					f2=Math.sin(angle)*0.5+0.5;
					r=msec_f*center_r;
				}
				
				function dist(v1, v2){
					const d={x:v1.x-v2.x, y:v1.y-v2.y};
					const ds=d.x*d.x+d.y*d.y;
					return ds<=0?0:Math.sqrt(ds);
				}
				
				function center_of(c){
					const bb=c.getBBox();
					return {x:bb.x+bb.width/2, y:bb.y+bb.height/2};
				}
				
				function draw() {
					for(circle of circles){
						const ct = center_of(circle);
						let d = Math.abs(dist(ct, center_v) - r) * 0.1;
						//console.log(d);
						d = d < 0 ? 0 : ( d > 1 ? 1 : d );
						const rainbow = kelvinToRgb(d*1000000); // HSVtoRGB(d, 1, 1);
						const m = blend_colors(rainbow, base_color, d);
						colorItem(circle, m);
					}
					{
						const smile_r = 20;
						const smile_dist = 2;
						let d = Math.abs(30-r) * 0.1;
						d = 1-(d < 0 ? 0 : ( d > 1 ? 1 : d ));
						moveItem(smile1, d*smile_dist, 0);
						moveItem(smile2, -d*smile_dist, 0);
						colorItem(smile1, false, smile1_c /*blend_colors(smile1_c, base_color, d)*/);
						colorItem(smile2, false, smile2_c /*blend_colors(smile2_c, base_color, d)*/);
					}
				}
				
				function loop(timestamp) {
					var progress = timestamp - lastRender;
					
					update(progress);
					draw();
					
					lastRender = timestamp;
					window.requestAnimationFrame(loop);
				}
				
				var lastRender = 0
				window.requestAnimationFrame(loop)
				console.log("Loading")


				console.log("Found subdoc")
				const all_circles=subdoc.querySelectorAll("path");
				const huge=999999;
				const min={x:huge, y:huge}
				const max={x:-huge, y:-huge}
				for(circle of all_circles){
					if(circle.id.startsWith("circle")){
						const c=center_of(circle);
						min.x=Math.min(c.x, min.x);
						min.y=Math.min(c.y, min.y);
						max.x=Math.max(c.x, max.x);
						max.y=Math.max(c.y, max.y);
						colorItem(circle, base_color);
						circles.push(circle);
					}
				}
				center_r = Math.max(max.x-min.x, max.y-min.y);
				center_v = {x:(max.x-min.x)/2, y:(max.y-min.y)/2};
				console.log("Found bounds", center_r, center_v,"of",circles.length,"circles")
			}
		}
	});

	</script>
</main>
{% include 'includes/page_foot.html' %}
