{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Features</strong></h1>
			<p>What is inside the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
	



		<div class="card  border-secondary mb-3">
			<img class="card-img-top" src="/static/images/nodes/Features_header.svg">
			<h4 class="card-header">General Features</h4>
			<div class="table-group table-group-flush">
				<table class="table">
					<thead>
						<tr>
							<th scope="col" class="text-right">Feature</th>
							<th scope="col">Details</th>
							<th scope="col" class="text-center">Status</th>
						</tr>
					</tead>
					<tbody>
						<tr>
							<td class="text-right"><p>Keystore management (RSA).</p></td>
							<td><p>The personality of agents is the unique key generated at it's birth.</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success" title="Working"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Identicon generation &amp; display.</p></td>
							<td><p>Identicons are uniquely identifying icons generated from the ID of each node.</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success" title="Working"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Peer discovery over HTTP (via {{context.app_name}} Zoo).</p></td>
							<td><p>Peer discovery over HTTP allows nodes to find eachother by using the {{context.app_name}} Zoo as a middle man.</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success" title="Working"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Peer discovery over UDP</p></td>
							<td><p>Peer discovery over UDP allows nodes to find eachother by doing clever <a href="https://en.wikipedia.org/wiki/UDP_hole_punching" target="wikipedia_udp_holepunching">firewall hole-punching techniques</a>.</p></td>
							<td class="text-center"><i class="fa-solid fa-ellipsis text-warning" title="Under development"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Peer discovery over Bluetooth.</p></td>
							<td><p>Peer discovery over Bluetooth allows nodes to find eachother over Bluetooth.</p></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger" title="Planned"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Peer discovery over NFC.</p></td>
							<td><p>Peer discovery over NFC allows nodes to find eachother over NFC.</p></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger" title="Planned"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Peer discovery over QR( camera)</p></td>
							<td><p>Peer discovery over QR allows nodes to find eachother by presenting QR codes to eachother via camera.</p></td>
							<td class="text-center"><i class="fa-solid fa-ellipsis text-warning" title="Under development"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Peer communications over UDP</p></td>
							<td><p>Peer communications over UDP allows nodes communicate over UDP.</p></td>
							<td class="text-center"><i class="fa-solid fa-ellipsis text-warning" title="Under development"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Robust UDP protocol</p></td>
							<td><p>The protocol used for communications over UDB should be robust to adverse network conditions like dropping/re-arranging of packets, high latency and low bitrates.</p></td>
							<td class="text-center"><i class="fa-solid fa-ellipsis text-warning" title="Under development"></i></td>
						</tr>
					</tbody>


				</table>
			</div>
		</div>
		
		
		<div class="card  border-secondary mb-3">
			<img class="card-img-top" src="/static/images/nodes/Agent_header.svg">
			<h4 class="card-header">Agent&trade; Features</h4>
			<div class="table-group table-group-flush">
				<table class="table">


					<thead>
						<tr>
							<th scope="col" class="text-right">Feature</th>
							<th scope="col">Details</th>
							<th scope="col" class="text-center">Status</th>
						</tr>
					</tead>
					<tbody>
						<tr>
							<td class="text-right"><p>Gait planner for hexapod+.</p></td>
							<td><p>The ability to dynamically find the best footing while walking in real-time.</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success" title="Working"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Control protocol for Hexy.</p></td>
							<td><p>The ability to control <a href="http://arcbotics.com/products/hexy/" target="arcbotics_hexy">Hexy robots</a>.</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success" title="Working"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Control protocol for Arduino (ArduMY&trade;).</p></td>
							<td><p>The ability to control generic robots through the dynamic arduino binding in {{context.app_name}} called "ArduMY&trade;".</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success" title="Working"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Hardware configuration wizard.</p></td>
							<td><p>A user interface for configuring the hardware of different robots.</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success" title="Working"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>CreepyVoice&trade; unique voice text to speech.</p></td>
							<td><p>Each agent will have a unique voice assigned to them at birth with distinct expression.</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success" title="Working"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Customizable main screen.</p></td>
							<td><p>The main screen of the robot is customizable to match the needs of the user.</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success" title="Working"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Unique iris generator and eyes display.</p></td>
							<td><p>Each agent will have a unique eye color, pattern and shape assigned to them at birth.</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success" title="Working"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Expressive face.</p></td>
							<td><p>Agens will have faces showing their unique eyes and will interact through facial expressions controllable by the user.</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success" title="Working"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Log display.</p></td>
							<td><p>The ability to show a stream of text reflecting the inner state of the agent, for debugging purposes.</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success" title="Working"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Real-time stats display.</p></td>
							<td><p>The ability to show a graphical representation of important state for the agent such as sensor values, communication state and more in real-time.</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success" title="Working"></i></td>
						</tr>
					</tbody>


				</table>
			</div>
		</div>
		
		
		<div class="card  border-secondary mb-3">
			<img class="card-img-top" src="/static/images/nodes/Remote_header.svg">
			<h4 class="card-header">Remote&trade; Features</h4>
			<div class="table-group table-group-flush">
				<table class="table">

					<thead>
						<tr>
							<th scope="col" class="text-right">Feature</th>
							<th scope="col">Details</th>
							<th scope="col" class="text-center">Status</th>
						</tr>
					</tead>
					<tbody>
						<tr>
							<td class="text-right"><p>Actuator control.</p></td>
							<td><p>The ability to direct individual actuaotrs like servos in the UI.</p></td>
							<td class="text-center"><i class="fa-solid fa-ellipsis text-warning" title="Under development"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Pose recorder and sequencer.</p></td>
							<td><p>The ability to record and play back sequences of poses for servos to enact certain behaviours.</p></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger" title="Planned"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Path control.</p></td>
							<td><p>The ability to direct agents via markes on map, allowing them to plan and execute their route autonomously.</p></td>
							<td class="text-center"><i class="fa-solid fa-ellipsis text-warning" title="Under development"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Speech control.</p></td>
							<td><p>The ability to send text for the agent to say on the behalf of the user.</p></td>
							<td class="text-center"><i class="fa-solid fa-ellipsis text-warning" title="Under development"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Expression control.</p></td>
							<td><p>The ability to send facial expression for agents' face to show.</p></td>
							<td class="text-center"><i class="fa-solid fa-ellipsis text-warning" title="Under development"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Stats view.</p></td>
							<td><p>The ability to show stats from agents in real-time.</p></td>
							<td class="text-center"><i class="fa-solid fa-ellipsis text-warning" title="Under development"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Flight HUD view.</p></td>
							<td><p>The ability to show a flight optimized UI for agents that are airborne.</p></td>
							<td class="text-center"><i class="fa-solid fa-ellipsis text-warning" title="Under development"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Drive HUD view.</p></td>
							<td><p>The ability to show a driving optimized UI for agents that are driven like a car.</p></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger" title="Planned"></i></td>
						</tr>
					</tbody>


				</table>
			</div>
		</div>
		
		
		<div class="card  border-secondary mb-3">
			<img class="card-img-top" src="/static/images/nodes/Hub_header.svg">
			<h4 class="card-header">Hub&trade; Features</h4>
			<div class="table-group table-group-flush">
				<table class="table">

					<thead>
						<tr>
							<th scope="col" class="text-right">Feature</th>
							<th scope="col">Details</th>
							<th scope="col" class="text-center">Status</th>
						</tr>
					</tead>
					<tbody>
						<tr>
							<td class="text-right"><p>Embedded Remote.</p></td>
							<td><p>Showing the complete UI for Remote inside Hub.</p></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger" title="Planned"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Agent &amp; Remote groups management.</p></td>
							<td><p>The ability to manage groups of nodes in the Hub UI.</p></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger" title="Planned"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Plan editor.</p></td>
							<td><p>An editor for making intricate plans that can be shared among groups of nodes to be executed on different ques.</p></td>
							<td class="text-center"><i class="fa-solid fa-ellipsis text-warning" title="Under development"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Situation map view.</p></td>
							<td><p>A map shoing groups of nodes and their status in real-time.</p></td>
							<td class="text-center"><i class="fa-solid fa-ellipsis text-warning" title="Under development"></i></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
		
		
		<div class="card  border-secondary mb-3">
			<img class="card-img-top" src="/static/images/nodes/Zoo_header.svg">
			<h4 class="card-header">Zoo&trade; Features</h4>
			<div class="table-group table-group-flush">
				<table class="table">

					<thead>
						<tr>
							<th scope="col" class="text-right">Feature</th>
							<th scope="col">Details</th>
							<th scope="col" class="text-center">Status</th>
						</tr>
					</tead>
					<tbody>
						<tr>
							<td class="text-right"><p>Peer discovery service.</p></td>
							<td><p>HTTP Service that helps other nodes discover each other.</p></td>
							<td class="text-center"><i class="fa-solid fa-check text-success" title="Working"></i></td>
						</tr>
						<tr>
							<td class="text-right"><p>Zoo directory webpage.</p></td>
							<td><p>A facebook like web-page for each agent with blog, stats, friends and more.</p></td>
							<td class="text-center"><i class="fa-solid fa-xmark text-danger" title="Planned"></i></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
		

	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

