{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}

<style>
	body{margin-top:20px;}
	.timeline {
		border-left: 3px solid #727cf5;
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
		background: rgba(114, 124, 245, 0.09);
		margin: 0 auto;
		letter-spacing: 0.2px;
		position: relative;
		line-height: 1.4em;
		font-size: 1.03em;
		padding: 50px;
		list-style: none;
		text-align: left;
	}
	
	@media (max-width: 767px) {
		.timeline {
			max-width: 98%;
			padding: 25px;
		}
	}
	
	.timeline h1 {
		font-weight: 300;
		font-size: 1.4em;
	}
	
	.timeline h2,
	.timeline h3 {
		font-weight: 600;
		font-size: 1rem;
		margin-bottom: 10px;
	}
	
	.timeline .event {
		padding-bottom: 3em;
		margin-bottom: 25px;
		position: relative;
	}
	
	@media (max-width: 767px) {
		.timeline .event {
			padding-top: 30px;
		}
	}
	
	.timeline .event:last-of-type {
		padding-bottom: 0;
		margin-bottom: 0;
		border: none;
	}
	
	.timeline .event:before,
	.timeline .event:after {
		position: absolute;
		display: block;
		top: 0;
	}
	
	.timeline .event:before {
		left: -207px;
		content: attr(data-date);
		text-align: right;
		font-weight: 100;
		font-size: 0.9em;
		min-width: 120px;
	}
	
	@media (max-width: 767px) {
		.timeline .event:before {
			left: 0px;
			text-align: left;
		}
	}
	
	.timeline .event:after {
		box-shadow: 0 0 0 3px #727cf5;
		left: -55.8px;
		background: #fff;
		border-radius: 50%;
		height: 9px;
		width: 9px;
		content: "";
		top: 5px;
	}
	
	@media (max-width: 767px) {
		.timeline .event:after {
			left: -31.8px;
		}
	}
	
	.rtl .timeline {
		border-left: 0;
		text-align: right;
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 4px;
		border-top-left-radius: 4px;
		border-right: 3px solid #727cf5;
	}
	
	.rtl .timeline .event::before {
		left: 0;
		right: -170px;
	}
	
	.rtl .timeline .event::after {
		left: 0;
		right: -55.8px;
	}
</style>

<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} History</strong></h1>
			<p>Remember the ready-to-run robot software.</p>
		</div>
	</div>


	<div class="container">
		<div id="content">
			<ul class="timeline">
				<li class="event" data-date="2023-03-26 ➞ Now">
					<h3>The work continues!</h3>
					<p>The work on {{context.app_name}} never really stops. If you want to join the effort and <i>create the new history</i>, please see <a href="/contribute">how to contribute</a>!</p>
				</li>
				<li class="event" data-date="2023-03-26">
					<h3>Website reboot</h3>
					<p>We put Google Sites Classic behind us and created the website the project deserved based on Python + FastAPI + jinja2 + Bootstrap. 🥳</p>
				</li>
				<li class="event" data-date="2023-02-24">
					<h3>Migrate to Qbs</h3>
					<p>The project <a href="http://blog.octomy.org/2023/02/octomy-will-migrate-from-qmake-to-qbs.html" target="_octomy_qbs_migration">migrated from qmake</a> build system to <a href="https://qbs.io/" target="qbs_build_system">Qbs</a></p>
				</li>
				<li class="event" data-date="2023-02-17">
					<h3>Migrate to Qt6</h3>
					<p>The project <a href="https://gitlab.com/octomy/octomy/-/commit/0fe9616a505aa3fd7b35b75a5b59693b8c3450d8" target="_octomy_qt6_migration">migrated from Qt5 to Qt6</a>. Arguably it is Qter than ever😅</p>
				</li>
				<li class="event" data-date="2020 ➞ 2023">
					<h3>Hiatus</h3>
					<p>The project took a well deserved break to properly saviour COVID19😷🤕🤒 and other disasters💣🪖💥⚔️😢 properly. But in the darkeness the monster did not sleep...</p>
				</li>
				<li class="event" data-date="2019-06-16">
					<h3>Migration to gitlab</h3>
					<p>The project was migrated from <a href="http://blog.octomy.org/2019/06/migration-from-github-to-gitlab-complete.html">github to gitlab</a>.</p>
				</li>
				<li class="event" data-date="2019-06-16">
					<h3>Makeover completed</h3>
					<p>The project overhaul (a.k.a. <strong>{{context.app_name}} v2</strong>) was completed successfully after intense efforts for 6 months and the project was now becomming very mature.</p>
					<p>Some highlights:</p>
					<ul>
						<li>No compiler warnings or errors allowed.</li>
						<li>Some libraries renamed to better more descriptive names.</li>
						<li>Some libraries merged.</li>
						<li>Some libraries split up, especially libcore and libutil.</li>
						<li>Some libraries or parts will be removed outright.</li>
						<li>Widgets and ui files are distributed among the libraries they belong to.</li>
						<li>Resource files are distributed among the libraries they belong to.</li>
						<li>All libraries receive README.md to describe them better.</li>
						<li>Formatting of sources modified to follow the standard.</li>
						<li>Translation unit optimizations to reduce buildtime.</li>
					</ul>
				</li>
				<li class="event" data-date="2019-01-07">
					<h3>Third Anniversary</h3>
					<p>The project celebrated it's <a href="http://blog.octomy.org/2019/01/happy-anniversary-2019.html">3rd anniversary</a> and a plan to completely overhaul the project was unveiled (a.k.a. <strong>{{context.app_name}} v2</strong>)</p>
				</li>
				<li class="event" data-date="2018-08-04">
					<h3>License Update</h3>
					<p>The mandate and <a href="https://gitlab.com/octomy/octomy/-/blob/master/LICENSE">license</a> was updated.</p>
				</li>
				<li class="event" data-date="2018-01-07">
					<h3>Second Anniversary</h3>
					<p>The project celebrated <a href="http://blog.octomy.org/2018/01/happy-anniversary-2018.html">2nd year anniversary</a>.</p>
				</li>
				<li class="event" data-date="2017-01-27">
					<h3>Mandate unveiled</h3>
					<p>The official <a href="/about/mandate">{{context.app_name}} mandate</a> was created and subsequently all the communication was changed to align with the goals of the mandate.</p>
				</li>
				<li class="event" data-date="2017-01-07">
					<h3>First Anniversary</h3>
					<p>The project celebrated it's <a href="http://blog.octomy.org/2017/01/happy-anniversary-2017.html">1st year anniversary</a>🥳.</p>
					<p>By the end of it's first year, the {{context.app_name}} project had come surprisingly far:</p>
					<ul>
						<li>The project compiled to Desktop and Android targets.</li>
						<li>The project had an alright security model in its core.</li>
						<li>Lot's of time had gone into making it user-friendly for the beginner while not getting in the way of the experts, and it showed.</li>
						<li>The project was running very stable thanks to quality being thought of from the start. It had already started racking up quite a lot of automated tests.</li>
						<li>It incorporated a protocol for discovery, pairing and communication with peers over UDP.</li>
						<li>It incorporated a gait planner for legged robots.</li>
						<li>It incorporated facial expressions, speech, stats logging and a HUD.</li>
						<li>It was still very much work in progress, and features would break every day. It was still not ready for the masses, but very close.</li>
					</ul>
				</li>
				<li class="event" data-date="2016-03-20">
					<h3>Blog started</h3>
					<p>The <a href="http://blog.octomy.org/" target="_octomy_blog">{{context.app_name}} blog</a> was started! It was actually converted from Lennart's old personal blog, but since that blog had already started talking 90% about the {{context.app_name}} project, a name and brand change was in order.</p>
				</li>
				<li class="event" data-date="2016-01-07">
					<h3>Project founded</h3>
					<p>The {{context.app_name}} project was officially started, after <a href="/about/authors">the founder</a> bought one of these:</p>
					<img src="/static/images/hexy_transparent_small.png" alt="Hexy 6 legged robot" class="img-fluid">
					<p>for X-Mas.</p>
					<p>After we had a great time assembling it he was shocked at the poor state of the software that came with the kit. It barely managed to play back some pre-recorded animations, and definitely none of the fancy <a href="https://www.youtube.com/watch?v=rAeQn5QnyXo" target="_phoenix_youtube">Phoenix stuff</a> that we anticipated after watching a whole lot of <a href="https://www.youtube.com/results?search_query=hexapod+robots" target="_youtube_robot_videos">videos on YouTube</a>.</p>
					<p>So as an experienced developer and hobby robot enthusiast Lennart set out to "correct  the problem". This was the beginning of the {{context.app_name}} project, and while the scope has grown significantly since then, the basic idea is still the same; bring the cool stuff to the masses in an easy way.</p>
				</li>
			</ul>
		</div>
	</div>


{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}
