 
{% include 'includes/page_head.html' %}
{% include 'includes/page_navbar.html' %}
<style>
	.blink {
		animation: blink 1s steps(1, end) infinite;
	}
	
	@keyframes blink {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
</style>
<main>
	<div class="jumbotron">
		<div class="container">
			<h1><strong>{{context.app_name}} Authors</strong></h1>
			<p>Author the ready-to-run robot software.</p>
		</div>
	</div>
	<div class="container">
		<h3>Contributors</h3>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Bio</th>
				</tr>
			</tead>
			<tbody>
				<tr>
					<td>
						<h4>Leo</h4>
						<img class="img-thumbnail" src="https://www.gravatar.com/avatar/3eccb41827ff628fa4143045e40c1b8c?s=128&d=identicon&r=PG">
						<p>Joined 2016-01-07</p>
					</td>
					<td>
						<h4>Introduction</h4>
						<p>Hi! I am the founder of this project, and thus far I am a humble one-man-band.</p>
						<p>If you want to know more about me, please look at my <a href="https://stackoverflow.com/users/1035897/lennart-rolland" target="_leo_stack_opverflow">stack overflow page</a>.</p>
						<h4>Main contributions</h4>
						<ul>
							<li>C/C++</li>
							<li>Qt</li>
							<li>OpenGL</li>
							<li>OpenCL</li>
							<li>A/V Streaming&amp;Processing</li>
							<li>Arduino/Hardware</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<h4>&lt;your name here&gt;</h4>
						<img class="img-thumbnail" src="/static/images/Unknown_user.svg" style="width:150px;">
						<p>Joining <strong class="blink">TODAY!</strong></p>
					</td>
					<td>
						<h4>Introduction</h4>
						<p>Hi! I think robots are super cool and I want to <a href="/contribute">contribute</a> to this amazing project!</p>
						<h4>Main contributions</h4>
						<ul>
							<li>Rocket surgeon</li>
							<li>Mad scientist</li>
							<li>Kind villain</li>
							<li>Main tinkerer</li>
							<li>Overlord</li>
							<li>Inventor</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
{% include 'includes/page_colophon.html' %}
</main>
{% include 'includes/page_foot.html' %}

